{#-
  test_pipeline.j2
  This pipeline generates raw voltage/RFI/packet loss data, runs the n2k correlator, accumulates into N2 frames,
  and writes visibilities to HDF5.
  Adjust the parameters below but keep the divisibility rules so tensor shapes, ringbuffer sizes,
  and stage counters remain integral.
-#}


# num_output_frames: fully accumulated N2 frames per frequency that should reach hdf5N2Write
{% set num_output_frames = 100 %}

# num_local_freq: number of contiguous frequency IDs to simulate on this GPU;
#    must be divisible by 4 because pl_mask shapes use num_local_freq/4.
{% set num_local_freq = 4 %}
{% set freq_ids_list = range(4000, 4000 + num_local_freq) %}

# CHORD telescope sampling setup (matches CHORDTelescope defaults)
{% set sampling_rate_MHz = 3.2e3 %}
{% set fft_length = 16384 %}
{% set nyquist_zone = 1 %}
{% set df_MHz = (sampling_rate_MHz / fft_length) %}
{% set freq0_MHz = 0 %}

# Science band narrowed to just the simulated freq_ids above
{% set science_min_freq_MHz = freq0_MHz + df_MHz * (freq_ids_list | first) %}
{% set science_max_freq_MHz = freq0_MHz + df_MHz * (freq_ids_list | last) %}

# num_dishes: dishes/antennas to simulate.
# With 2 polarizations, num_elements = 2 * num_dishes, which the n2k correlator requires to be a multiple of 128
# (CorrelatorParams::ns_divisor). That means num_dishes must be a multiple of 64. This also satisfies the counts
# block (num_elements/8 divisible by 8) and the packet-loss mask’s dish/8 grouping.
{% set num_dishes = 512 %}

# fpga time samples per generated frame (data_set), per frequency/polarization/dish;
# effectively "fpga_ticks_per_full_frame". This is the frame length seen by testDataGen and the n2k correlator.
# Must be divisible by sub_integration_ntime for the correlator output, by 1024 for the RFI mask downsample,
# and by 128 for the packet-loss mask layout.
{% set samples_per_data_set = 2048 %}

# fpga samples collapsed by the GPU correlator into one n2k sub-integration/visibility sample.
# Distinct from samples_per_data_set (the total frame length); samples_per_data_set / sub_integration_ntime is the number
# of sub-integrations produced per frame. Choose any positive divisor of samples_per_data_set (does not need to be 1024).
{% set sub_integration_ntime = 512 %}

# n2k sub-integrations contained in one generated frame (derived)
# (= samples_per_data_set / sub_integration_ntime).
{% set integrations_per_frame = samples_per_data_set // sub_integration_ntime %}

# n2k sub-integrations to combine into each output N2 frame by N2Accumulate.
# Choose a multiple of integrations_per_frame so n2k_frames_per_output is an integer and generators run long enough.
{% set num_subintegrations_per_bin = 96 %}

# correlation frames needed to form one output N2 frame
{% set n2k_frames_per_output = num_subintegrations_per_bin // integrations_per_frame %}

# number of frames testDataGen should emit so the writer receives num_output_frames
{% set frames_to_generate = n2k_frames_per_output * num_output_frames %}


##########################################
#
# test_pipeline.j2
#
# Config to test many N2 stages in a single pipeline.
#
##########################################
---
type: config

# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: INFO


freq_ids: {{ freq_ids_list | list }}

num_gpus: 1
buffer_depth: 4
num_gpu_frames: 4
cpu_affinity: [0,1,2,3,4,5,6,7,8]
frame_arrival_period: 5.12e-6 * {{ samples_per_data_set }}
sizeof_gpu_int: 4 # bytes

# For faster testing, we're using...
sub_integration_ntime: {{ sub_integration_ntime }}
samples_per_data_set: {{ samples_per_data_set }}
rfi_downsampling_factor: 256
num_times: samples_per_data_set  # New N2K needs this.
num_polarizations: 2
num_dishes: {{ num_dishes }}
num_elements: num_polarizations * {{ num_dishes }}
num_local_freq: {{ num_local_freq }}
num_ev_to_calculate: 4

GIGA: 1000000000
start_time_s: 1760000000 # ~ 2025-10-09

telescope:
  name: CHORDTelescope
  sampling_rate_MHz: {{ sampling_rate_MHz }}
  fft_length: {{ fft_length }}
  nyquist_zone: {{ nyquist_zone }}
  min_science_freq_MHz: {{ science_min_freq_MHz }}
  max_science_freq_MHz: {{ science_max_freq_MHz }}
  inst_lat_deg: 50.0
  inst_long_deg: -120.0
  inst_alt_deg: 90.0
  inst_grid_x_axis: [1.0, 0.0, 0.0]
  inst_grid_y_axis: [0.0, 1.0, 0.0]
  inst_dish_alt_axis: [1.0, 0.0, 0.0]
  inst_dish_vert_axis: [0.0, 0.0, 1.0]
  dish_inputs: []
  num_dishes_x: 50
  num_dishes_y: 50
  require_gps: False
  eop_updatable_config: /earth_rotation_data

gps_time:
  frame0_nano: start_time_s * GIGA

earth_rotation_data:
  kotekan_update_endpoint: json
  earth_orientation_parameter_table: [
    {
      t_inst_ns: 1750000000000000000,
      delta_UT1_inst: 0.5,
      xp_as: 0.1,
      yp_as: 0.2
    }, {
      t_inst_ns: 1770000000000000000,
      delta_UT1_inst: -0.5,
      xp_as: 0.3,
      yp_as: 0.4
    }]


# Pools
main_pool:
    kotekan_metadata_pool: chordMetadata
    num_metadata_objects: 15 * buffer_depth

n2_pool:
    kotekan_metadata_pool: N2Metadata
    num_metadata_objects: 16 * buffer_depth

# Buffers
host_voltage_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: samples_per_data_set * num_elements * num_local_freq
    metadata_pool: main_pool

host_rfi_RFImask_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: num_local_freq * samples_per_data_set / 8
    metadata_pool: main_pool

host_pl_mask_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: (samples_per_data_set / 128) * (num_local_freq / 4) * 2 * (num_dishes / 8) * 8
    metadata_pool: main_pool

vis_blocksize: 16
vis_num_blocks_lin: num_elements / vis_blocksize
vis_num_blocks: vis_num_blocks_lin * (vis_num_blocks_lin + 1) / 2
host_correlation_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: num_local_freq * (samples_per_data_set / sub_integration_ntime) * 16 * 16 * vis_num_blocks * 2 * sizeof_gpu_int
    metadata_pool: main_pool

counts_blocksize: 8
counts_num_blocks_lin: (num_elements / 8) / counts_blocksize
counts_num_blocks: (counts_num_blocks_lin * (counts_num_blocks_lin + 1)) / 2
host_counts_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: (samples_per_data_set / sub_integration_ntime) * num_local_freq * counts_num_blocks * counts_blocksize * counts_blocksize * sizeof_gpu_int
    metadata_pool: main_pool

n2_buffer:
    kotekan_buffer: N2
    num_ev: 0
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_eigen_buffer:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_split_1:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_split_2:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_recv_buffer_1:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_recv_buffer_2:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_merge_buffer:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

# Subset buffers for testing N2Subset stage
n2_autocorr_buffer:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "Autocorrelations"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_first24_buffer:
    kotekan_buffer: N2
    num_ev: num_ev_to_calculate
    n2_layout: "InputORMasked"
    input_list: {{ range(24) | list }}
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

# Ringbuffer signalling buffer
host_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * samples_per_data_set * num_elements * num_local_freq
    metadata_pool: main_pool

host_rfi_RFImask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_local_freq * samples_per_data_set / 8
    metadata_pool: main_pool

host_pl_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * ((samples_per_data_set / 2) * (num_elements / 8) * (num_local_freq / 4)) / 8
    metadata_pool: main_pool

host_pl_mask_exp_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (samples_per_data_set * num_local_freq * (num_elements / 8)) / 8
    metadata_pool: main_pool


# Stages

# Generate voltage, RFI mask, and pl mask data

gen_data_voltage:
    type: random_signed_offset
    value: 120
    kotekan_stage: testDataGen
    out_buf: host_voltage_buffer
    name: "E"
    array_shape: [ {{ samples_per_data_set }}, {{ num_local_freq }}, 2, {{ num_dishes }} ]
    dim_name: ["T", "F", "P", "D" ]
    num_frames: {{ frames_to_generate }}
    manual_freq_ids: {{ freq_ids_list | list }}

gen_data_rfi_RFImask:
    type: const1x8
    value: 255
    kotekan_stage: testDataGen
    out_buf: host_rfi_RFImask_buffer
    name: "RFImask"
    array_shape: [ {{ samples_per_data_set // 1024 }}, {{ num_local_freq }}, 128 ]
    dim_name: ["T8hi128", "F", "T8lo128"]
    num_frames: {{ frames_to_generate }}
    meta_time_downsample_factor: 1024
    manual_freq_ids: {{ freq_ids_list | list }}

gen_pl_mask:
    type: random1x8
    value: 120
    kotekan_stage: testDataGen
    out_buf: host_pl_mask_buffer
    name: "pl_mask"
    array_shape: [ {{ samples_per_data_set // 128 }}, {{ num_local_freq // 4 }}, 2, {{ num_dishes // 8 }}, 8 ]
    dim_name: ["T2hi64", "F4", "P", "D8", "T2lo64" ]
    num_frames: {{ frames_to_generate }}
    meta_time_downsample_factor: 128  # The number of time samples represented by each coarse time index.
    manual_freq_ids: {{ freq_ids_list | list }}


# Send data to GPU ringbuffers (and expand PL mask)

run_send_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_buffer_in: host_voltage_buffer
        out_buffers:
            host_voltage_ringbuffer_out: host_voltage_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: samples_per_data_set * num_elements * num_local_freq
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_voltage_buffer_in
          signal_buf: host_voltage_ringbuffer_out
          gpu_mem_output: voltage_buffer

run_send_rfi_RFImask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_RFImask_buffer_in: host_rfi_RFImask_buffer
        out_buffers:
            host_rfi_RFImask_ringbuffer_out: host_rfi_RFImask_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: num_local_freq * samples_per_data_set / 8
          ring_buffer_size: buffer_depth * num_local_freq * samples_per_data_set / 8
          in_buf: host_rfi_RFImask_buffer_in
          signal_buf: host_rfi_RFImask_ringbuffer_out
          gpu_mem_output: rfi_RFImask_buffer

run_send_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_buffer_in: host_pl_mask_buffer
        out_buffers:
            host_pl_mask_ringbuffer_out: host_pl_mask_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: (samples_per_data_set/2) * (num_local_freq/4) * (num_elements/8) / 8
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_pl_mask_buffer_in
          signal_buf: host_pl_mask_ringbuffer_out
          gpu_mem_output: pl_mask_buffer

run_pl_expand:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        out_buffers:
            host_pl_mask_exp_ringbuffer: host_pl_mask_exp_ringbuffer
        commands:
        - name: cudaPLMaskExpander
          num_frequencies: num_local_freq
          pl_mask_name: pl_mask
          pl_expanded_mask_name: pl_mask_exp

# Packet-loss correlator to produce counts for N2Accumulate

run_pl_corr:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_exp_ringbuffer: host_pl_mask_exp_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_counts_buffer: host_counts_buffer
        commands:
        - name: cudaPL1bitCorrelator
          num_frequencies: num_local_freq
          pl_expanded_mask_name: pl_mask_exp
          rfi_RFImask_name: rfi_RFImask
          n2k_counts_name: counts
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: counts_buffer
          out_buf: host_counts_buffer


# Run N2K correlator

run_n2k:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_correlation: host_correlation_buffer
        commands:
        - name: cudaCorrelator
          n2k_correlation_name: correlation
          voltage_name: voltage
          rfi_RFImask_name: rfi_RFImask
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: correlation_buffer
          out_buf: host_correlation


# Accumulate N2K visibilities on CPU

n2_accumulate:
    kotekan_stage: N2Accumulate
    in_buf: host_correlation_buffer
    in_counts_buf: host_counts_buffer
    in_rfimask_buf: host_rfi_RFImask_buffer
    out_buf: n2_buffer
    num_freq_per_n2k_frame: num_local_freq
    packet_loss_is_scalar: True
    num_subintegrations_per_bin: {{ num_subintegrations_per_bin }}


# Add eigen calculation

eigencalc:
  num_ev: num_ev_to_calculate
  kotekan_stage: EigenN2Iter
  cpu_affinity: [4]
  log_level: debug

  in_buf: n2_buffer
  out_buf: n2_eigen_buffer

  # Convergence config
  tol_eval: 0.0001
  tol_evec: 0.001
  max_iterations: 20
  num_ev_conv: num_ev_to_calculate
  krylov: 2
  subspace: 1


# Local split, send, recv, merge
# (just for testing)

split:
  kotekan_stage: BufferSplit
  in_buf: n2_eigen_buffer
  out_bufs:
    - n2_split_1
    - n2_split_2

buffer_send_n2_1:
    kotekan_stage: bufferSend
    buf: n2_split_1
    server_ip: 127.0.0.1
    server_port: 11025
    retry_time: 1.0
    drop_frames: false

buffer_send_n2_2:
    kotekan_stage: bufferSend
    buf: n2_split_2
    server_ip: 127.0.0.1
    server_port: 11026
    retry_time: 1.0
    drop_frames: false

buffer_recv_n2_1:
    kotekan_stage: bufferRecv
    buf: n2_recv_buffer_1
    listen_port: 11025

buffer_recv_n2_2:
    kotekan_stage: bufferRecv
    buf: n2_recv_buffer_2
    listen_port: 11026

buffer_merge_n2:
    kotekan_stage: bufferMerge
    timeout: 1.0
    in_bufs:
    - n2_recv_buffer_1
    - n2_recv_buffer_2
    out_buf: n2_merge_buffer

# Subset the merged visibilities
n2_subset_autocorr:
    kotekan_stage: N2Subset
    in_buf: n2_merge_buffer
    out_buf: n2_autocorr_buffer

n2_subset_first24:
    kotekan_stage: N2Subset
    in_buf: n2_merge_buffer
    out_buf: n2_first24_buffer

# Write out the visibilities using HDF5

# Visibilities immediately after accumulation (for comparison)
hdf5_N2_write_accum:
    log_level: DEBUG
    kotekan_stage: hdf5N2Write
    in_buf: n2_buffer
    base_dir: ./vis_data/post_N2Accum/
    file_name: pipeline_test
    prefix_hostname: false
    use_bitshuffle: true
    compression: "lz4"
    compression_level: 3
    zip_compression: 0
    # Chunking: ensure positive chunk sizes
    blocksize_f: {{ num_frequencies }}
    blocksize_t: 5
    late_frame_grace_seconds: 30
    num_ev: 0
    vis_layout: "FullUpperTri"
    num_file_t: 10

# Final visibilities after post-accumulate stages
hdf5_N2_write_final:
    log_level: DEBUG
    kotekan_stage: hdf5N2Write
    in_buf: n2_merge_buffer
    base_dir: ./vis_data/final/
    file_name: pipeline_test
    prefix_hostname: false
    use_bitshuffle: true
    compression: "lz4"
    compression_level: 3
    zip_compression: 0
    # Chunking: ensure positive chunk sizes
    blocksize_f: {{ num_frequencies }}
    blocksize_t: 5
    late_frame_grace_seconds: 30
    num_ev: num_ev_to_calculate
    vis_layout: "FullUpperTri"
    num_file_t: 10
    baseband_gain_file: "" # e.g. "/path/to/digital_gains/00000000.h5"

# Autocorrelations-only subset
hdf5_N2_write_autocorr:
    log_level: DEBUG
    kotekan_stage: hdf5N2Write
    in_buf: n2_autocorr_buffer
    base_dir: ./vis_data/autocorr/
    file_name: pipeline_test
    prefix_hostname: false
    use_bitshuffle: true
    compression: "lz4"
    compression_level: 3
    zip_compression: 0
    blocksize_f: {{ num_frequencies }}
    blocksize_t: 5
    late_frame_grace_seconds: 30
    num_ev: num_ev_to_calculate
    vis_layout: "Autocorrelations"
    num_file_t: 10

# First 24 elements (OR-wise) subset
hdf5_N2_write_first24:
    log_level: DEBUG
    kotekan_stage: hdf5N2Write
    in_buf: n2_first24_buffer
    base_dir: ./vis_data/first24/
    file_name: pipeline_test
    prefix_hostname: false
    use_bitshuffle: true
    compression: "lz4"
    compression_level: 3
    zip_compression: 0
    blocksize_f: {{ num_frequencies }}
    blocksize_t: 5
    late_frame_grace_seconds: 30
    num_ev: num_ev_to_calculate
    vis_layout: "InputORMasked"
    num_file_t: 10

# Monitor N2 buffer for activity

buffer_monitor:
    kotekan_stage: monitorBuffer
    timeout: 60.0 # If no activity in this buffer for this many seconds, trigger shutdown
    bufs:
      - n2_eigen_buffer
    graceful_shutdown: true
    wait_for_first_frame: true
