{#-
  chord_pathfinder.j2
  Basic N2 pipeline with F-engine packet capture
-#}

# Buffers

# Main voltage buffer
# testDataGen (gen_fake_voltage, type random_signed_offset -> int4x2_swapped_withoffset,
# array_shape [samples_per_data_set, num_local_freq, num_polarizations, num_dishes]).
host_voltage_buffer_0:
    kotekan_buffer: ndarray
    num_frames: host_side_buffer_depth
    value_type: int4x2_swapped_withoffset
    quantity_name: E
    extents: [samples_per_data_set, num_local_freq, num_polarizations, num_dishes]
    dimnames: ["T", "F", "P", "D"]
    metadata_pool: main_pool
    numa_node: 0
host_voltage_buffer_1:
    kotekan_buffer: ndarray
    num_frames: host_side_buffer_depth
    value_type: int4x2_swapped_withoffset
    quantity_name: E
    extents: [samples_per_data_set, num_local_freq, num_polarizations, num_dishes]
    dimnames: ["T", "F", "P", "D"]
    metadata_pool: main_pool
    numa_node: 1


# Produced by testRFImaskGen (gen_dummy_rfi_mask, name "RFImask", type const -> uint1x8;
# shape [samples_per_data_set / 1024, num_local_freq, 128] is fixed in testRFImaskGen.cpp:133).
host_rfi_RFImask_dummy_buffer:
    kotekan_buffer: ndarray
    num_frames: host_side_buffer_depth
    value_type: uint1x8
    quantity_name: RFImask
    extents: [samples_per_data_set / 1024, num_local_freq, 128]
    dimnames: ["T8hi128", "F", "T8lo128"]
    zero_new_frames: true
    zero_value: 0xFF
    metadata_pool: main_pool

host_rfi_RFImask_dummy_buffer_1:
    kotekan_buffer: ndarray
    num_frames: host_side_buffer_depth
    value_type: uint1x8
    quantity_name: RFImask
    extents: [samples_per_data_set / 1024, num_local_freq, 128]
    dimnames: ["T8hi128", "F", "T8lo128"]
    zero_new_frames: true
    zero_value: 0xFF
    numa_node: 1
    metadata_pool: main_pool

# testDataGen (gen_fake_pl_mask, type random1x8 -> uint1x8, name "pl_mask").
# extents = [samples_per_data_set/128, (num_local_freq+3)/4, num_polarizations, num_dishes/8, 8]
host_pl_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: host_side_buffer_depth
    value_type: uint1x8
    quantity_name: pl_mask
    extents: [samples_per_data_set / 128, (num_local_freq + 3) / 4, num_polarizations, num_dishes / 8, 8]
    dimnames: ["T2hi64", "F4", "P", "D8", "T2lo64"]
    metadata_pool: main_pool

host_pl_mask_buffer_1:
    kotekan_buffer: ndarray
    num_frames: host_side_buffer_depth
    value_type: uint1x8
    quantity_name: pl_mask
    extents: [samples_per_data_set / 128, (num_local_freq + 3) / 4, num_polarizations, num_dishes / 8, 8]
    dimnames: ["T2hi64", "F4", "P", "D8", "T2lo64"]
    metadata_pool: main_pool
    numa_node: 1

# Bad feed mask - marks which feeds to exclude from RFI calculations
# Shape: [P, D] = [2, num_dishes] - all ones means all feeds are good
host_bf_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: int8
    quantity_name: bf_mask
    extents: [num_polarizations, num_dishes]
    dimnames: ["P", "D"]
    metadata_pool: main_pool
    zero_new_frames: true
    zero_value: 0xFF
    numa_node: 0

host_bf_mask_buffer_1:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: int8
    quantity_name: bf_mask
    extents: [num_polarizations, num_dishes]
    dimnames: ["P", "D"]
    metadata_pool: main_pool
    zero_new_frames: true
    zero_value: 0xFF
    numa_node: 1


# Stages

gen_fake_voltage:
    type: random_signed_offset
    value: 120
    name: "E"
    array_shape: [ 8192, 16, 2, 64 ]
    dim_name: ["T", "F", "P", "D" ]
    num_frames: -1

    voltage_0:
        kotekan_stage: testDataGen
        out_buf: host_voltage_buffer_0
    voltage_1:
        kotekan_stage: testDataGen
        out_buf: host_voltage_buffer_1

gen_fake_pl_mask:
    type: random1x8 
    value: 120
    name: "pl_mask"
    array_shape: [ 64, 4, 2, 8, 8 ]  # = num_times/128, num_freq/4, 2, num_dishes/8, 8
    dim_name: ["T2hi64", "F4", "P", "D8", "T2lo64" ]
    num_frames: -1
    meta_time_downsample_factor: 128 

    pl_mask_0:
        kotekan_stage: testDataGen
        out_buf: host_pl_mask_buffer
    pl_mask_1:
        kotekan_stage: testDataGen
        out_buf: host_pl_mask_buffer_1

gen_dummy_rfi_mask:
    type: const
    value: 255
    name: "RFImask"
    num_frames: -1

    dummy_rfimask_0:
        kotekan_stage: testRFImaskGen
        out_buf: host_rfi_RFImask_dummy_buffer
    dummy_rfimask_1:
        kotekan_stage: testRFImaskGen
        out_buf: host_rfi_RFImask_dummy_buffer_1

gen_fake_bf_mask:
    mode: auto
    bf_mask_0:
        kotekan_stage: inventBFMask
        bf_mask: host_bf_mask_buffer
    bf_mask_1:
        kotekan_stage: inventBFMask
        bf_mask: host_bf_mask_buffer_1

