.DS_Store
*.kdev4
*.save
*.kate-swp
.kdev_include_paths
*.c~
*.h~
*~
*#
*.swp
*.pyc
/.idea/
/.vscode/
/nbproject/
/cmake-build*/
build-docs/*
build-check-format/*
build-1804/*
build-2204/*
build-tests/*
docs/sphinx/html/*
.ccache/*
Manifest.toml
scratch/*
