# -*-yaml-*-

################################################################################
#
# Run a CHIME test
#
################################################################################

---
log_level: debug
poison_buffers: true

run_buffer_status:
    kotekan_stage: bufferStatus
    time_delay: 10.0e+6         # in μs

input_dir: data/fengine_chime_init
base_dir: data/fengine_chime
prefix_hostname: false
prefix_host_rank: true

{% include "include/defs.j2" %}
{% include "include/fengine_chime.j2" %}

{% include "include/rfi_chime.j2" %}
{% include "include/xpose2048_chime.j2" %}
{% include "include/n2k_chime.j2" %}
{% include "include/bb_chime.j2" %}
{% include "include/upchan_chime.j2" %}
{% include "include/frb_chime.j2" %}
{% include "include/upchan_hfb_chime.j2" %}
{% include "include/hfb_chime.j2" %}

{% include "include/input_chime.j2" %}
{% include "include/output_chime.j2" %}
...
