# -*-yaml-*-

################################################################################
#
# Run a CHORD test
#
################################################################################

---
log_level: debug
poison_buffers: true

run_buffer_status:
    kotekan_stage: bufferStatus
    time_delay: 10.0e+6         # in μs

input_dir: data/fengine_chord_init
base_dir: data/fengine_chord
prefix_hostname: false
prefix_host_rank: true

{% include "include/defs.j2" %}
{% include "include/fengine_chord.j2" %}

{% include "include/rfi_chord.j2" %}
{% include "include/n2k_chord.j2" %}
{% include "include/bb_chord.j2" %}
{% include "include/upchan_chord.j2" %}
{% include "include/frb_chord.j2" %}

# DTV pilot-tone detector (PilotProxy). Requires a runtime weight bundle on
# disk (see include/dtv_chord.j2 for the export command); uncomment to run.
# {% include "include/dtv_chord.j2" %}

{% include "include/input_chord.j2" %}
{% include "include/output_chord.j2" %}
...
