# -*-yaml-*-

################################################################################
#
# Run a CHORD test
#
################################################################################

---
log_level: debug

fengine_num_frames: 1
fengine_repeat_count: 10

skip_julia: false

base_dir: /tmp/fengine_chord_test

{% include "include/defs.j2" %}
{% include "include/fengine_chord.j2" %}
{% include "include/sources_chord.j2" %}

{% include "include/n2k_chord.j2" %}
{% include "include/bb_chord.j2" %}
{% include "include/upchan_chord.j2" %}
{% include "include/frb_chord.j2" %}

{% include "include/output_test.j2" %}
...
