# -*-yaml-*-

################################################################################
#
# Run a CHORD smallfinder test
#
################################################################################

---
log_level: debug
poison_buffers: true

fengine_num_frames: 25
fengine_repeat_count: 1

skip_julia: true

input_dir: data/fengine_init_smallfinder
base_dir: data/fengine_test_smallfinder
prefix_hostname: false
prefix_host_rank: true

{% include "include/defs.j2" %}
{% include "include/fengine_smallfinder.j2" %}

{% include "include/rfi_smallfinder.j2" %}
{% include "include/n2k_smallfinder.j2" %}
{% include "include/bb_smallfinder.j2" %}
{% include "include/upchan_smallfinder.j2" %}
{% include "include/frb_smallfinder.j2" %}

{% include "include/input_init_smallfinder.j2" %}

{% include "include/output_test_smallfinder.j2" %}
...
