# -*-yaml-*-

################################################################################
#
# Run a HIRAX test
#
################################################################################

---
log_level: debug

fengine_num_frames: 1
fengine_repeat_count: 10

skip_julia: false

base_dir: /tmp/fengine_test_hirax

{% include "include/defs.j2" %}
{% include "include/fengine_hirax.j2" %}
{% include "include/sources_hirax.j2" %}

{% include "include/n2k_hirax.j2" %}
{% include "include/bb_hirax.j2" %}
{% include "include/upchan_hirax.j2" %}
{% include "include/frb_hirax.j2" %}

{% include "include/output_test.j2" %}
...
