# -*-yaml-*-

################################################################################
#
# Run a CHORD pathfinder test
#
################################################################################

---
log_level: debug

fengine_num_frames: 1
fengine_repeat_count: 10

skip_julia: false

base_dir: /tmp/fengine_test_pathfinder

{% include "include/defs.j2" %}
{% include "include/fengine_pathfinder.j2" %}
{% include "include/sources_pathfinder.j2" %}

{% include "include/n2k_pathfinder.j2" %}
{% include "include/bb_pathfinder.j2" %}
{% include "include/upchan_pathfinder.j2" %}
{% include "include/frb_pathfinder.j2" %}

{% include "include/output_test.j2" %}
...
