# -*-yaml-*-

################################################################################
#
# Run a CHORD pathfinder test
#
################################################################################

---
log_level: debug

fengine_num_frames: 10
fengine_repeat_count: 1

skip_julia: false

input_dir: /localhome/eschnett/data/fengine_init_pathfinder
base_dir: /localhome/eschnett/data/fengine_test_pathfinder

{% include "include/defs.j2" %}
{% include "include/fengine_pathfinder.j2" %}

{% include "include/n2k_pathfinder.j2" %}
{% include "include/bb_pathfinder.j2" %}
{% include "include/upchan_pathfinder.j2" %}
{% include "include/frb_pathfinder.j2" %}

{% include "include/input_init_pathfinder.j2" %}

{% include "include/output_test_pathfinder.j2" %}
...
