<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script>
window.onload = function () {

var test =  "{{data.json()}}".split('&#39;').join('"');

// Add double quotes to None elements ('None') then parse json into javascript object
var buffers = jQuery.parseJSON(test.split('None').join('"None"'));

// Get buffer names
var bufNames = Object.keys(buffers);

console.log(buffers.network_buffer_0.frames)

var dps = [];   //dataPoints. 

for (var val in buffers.network_buffer_0.frames) {
  dps.push({y: buffers.network_buffer_0.frames[val]});     
}

//Better to construct options first and then pass it as a parameter
var options = {
	title: {
		text: bufNames[11] + " Frames"              
	},
	data: [              
	{
		// Change type to "doughnut", "line", "splineArea", etc.
		type: "column",
        dataPoints: dps
	}
	]
};

$("#chartContainer").CanvasJSChart(options);
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>
