<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){

      console.log("Hello World! from get_test. The path is: {{path}}");
      //alert("Data:  {{data.json()}}");
      
      // Convert json escape characters ('&#39;') to double quotes ('"')
      var test =  "{{data.json()}}".split('&#39;').join('"');
      
      // Add double quotes to None elements ('None') then parse json into javascript object
      var obj = jQuery.parseJSON(test.split('None').join('"None"'));
      console.log("Parse JSON: " + obj.beamform_hfb_output_buffer_0.frame_size);

  });
});
</script>
</head>
<body>

<button> Get kotekan data from buffer_data_callback</button>

</body>
</html>
