<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
html, body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
  background: white;
}
</style>

<!--link rel="stylesheet" href="format.css"-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--script src="http://marvl.infotech.monash.edu/webcola/cola.js"></script-->
<!--script src="https://ialab.it.monash.edu/webcola/cola.js"></script-->
<script src="https://cdn.jsdelivr.net/gh/tgdwyer/WebCola/WebCola/cola.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
</head>

<!DOCTYPE Create chart on page>
<body>
<!-- <div id="chartContainer" style="height: 370px; width: 100%;"></div> -->
<div id="graph" class="full-height"> Kotekan Pipeline</div>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>


</body>

<script>
function updateChart(buffers) {

    // Get buffer names
    var bufNames = Object.keys(buffers);

    // Populate datapoints of chart
    var dps = [];
    for (var val in buffers.network_buffer_0.frames) {
      dps.push({y: buffers.network_buffer_0.frames[val]});     
    }
    
    //Better to construct options first and then pass it as a parameter
    var options = {
    	title: {
    		text: bufNames[11] + " Frames"              
    	},
    	data: [              
    	{
    		// Change type to "doughnut", "line", "splineArea", etc.
    		type: "column",
            dataPoints: dps
    	}
    	]
    };
    
    $("#chartContainer").CanvasJSChart(options);
}

// Time between updating kotekan metrics
const POLL_WAIT_TIME_MS = 2000;

// Poll kotekan via web server every POLL_WAIT_TIME_MS and update page with new metrics
async function poll() {
  let response = await fetch("/update");
  //console.log("Polling... " + response.json());

  if (response.status == 502) {
    // Status 502 is a connection timeout error,
    // may happen when the connection was pending for too long,
    // and the remote server or a proxy closed it
    // let's reconnect
  } else if (response.status != 200) {
    // An error - let's show it
    console.log("Error: " + response.statusText);
    // Reconnect in one second
    await new Promise(resolve => setTimeout(resolve, 1000));
  } else {

    // Get and show the message
    let buffers = await response.json();
    //console.log("Got response: " + message.network_buffer_0.frames);
    //drawTree(buffers);
  }

  // Call poll() again to get the next message
  setTimeout(() => { poll(); }, POLL_WAIT_TIME_MS);
}

// Start polling kotekan for metrics
//poll();

window.onload = function drawTree(data) {

  // Define colours
  var palette = {
        "lightgray": "#819090",
        "gray": "#708284",
        "mediumgray": "#536870",
        "darkgray": "#475B62",
  
        "darkblue": "#0A2933",
        "darkerblue": "#042029",
  
        "paleryellow": "#FCF4DC",
        "paleyellow": "#EAE3CB",
        "yellow": "#A57706",
        "orange": "#BD3613",
        "red": "#D11C24",
        "pink": "#C61C6F",
        "purple": "#595AB7",
        "blue": "#2176C7",
        "green": "#259286",
        "yellowgreen": "#738A05"
    }

  // Replace "&#39;" chars as single quote "'"
  var rawData =  "{{data.json()}}".split('&#39;').join('"');
  // Add double quotes to None elements ('None') then parse json into javascript object
  var buffers = jQuery.parseJSON(rawData.split('None').join('"None"'));
  // Get buffer names
  var bufNames = Object.keys(buffers);

  // Set node sizes
  var vis = d3.select("#graph")
              .append("svg");
  var w = document.getElementById("graph").clientWidth;
  var h = document.getElementById("graph").clientHeight;
  var r = 20;
  
  vis.attr("width", w)
     .attr("height", h);
  
  vis.text("The Graph")
     .select("#graph")
  
  var rectWidth = 150, rectHeight = 50;
  var origin_x = w/2, origin_y = 50;
  var spacing = 80;
  var nodes = [], links = [], stages = [];

  var ctr = 0;
  for (var val in buffers) {
    nodes.push({name: val, x: origin_x, y: origin_y+ctr});
    ctr+=spacing;
    for (var stage in buffers[val].producers) {
        stages.push({name: stage, x: origin_x, y: origin_y+ctr});
        ctr+=spacing;
        links.push({source: stages[stages.length - 1], target: nodes[nodes.length - 1]});
    }

    for (var stage in buffers[val].consumers) {
        stages.push({name: stage, x: origin_x, y: origin_y+ctr});
        ctr+=spacing;
        links.push({source: nodes[nodes.length - 1], target: stages[stages.length - 1]});
    }
  }

  // Create edges
  //for (var i = 0; i <nodes.length; i++) {
  //  if(i + 1 < nodes.length)
  //    links.push({source: nodes[i], target: nodes[i + 1]});
  //}

  console.log(links);
var d3cola = cola.d3adaptor()
    .nodes(nodes)
    .links(links)
    .linkDistance(30)
    .size([w, h]);

  // Draw circles
//  vis.selectAll("buffer.nodes")
//        .data(nodes)
//        .enter()
//        .append("svg:ellipse")
//        .attr("class", "nodes")
//        .attr("cx", function(d) { return d.x + rectWidth/2; })
//        .attr("cy", function(d) { return d.y + rectHeight/2; })
//        .attr("rx", rectWidth/2)
//        .attr("ry", rectHeight/2)
//        .attr("stroke", "black") 
//        .attr("fill", "white") 
//
//  vis.selectAll("buffer.nodes")
//        .data(stages)
//        .enter()
//        .append("svg:rect")
//        .attr("class", "nodes")
//        .attr("x", function(d) { return d.x; })
//        .attr("y", function(d) { return d.y; })
//        .attr("width", rectWidth)
//        .attr("height", rectHeight)
//        .attr("stroke", "black") 
//        .attr("fill", "white") 
//  
// 
//  // Draw edges
//  vis.selectAll(".line")
//     .data(links)
//     .enter()
//     .append("line")
//     .attr("x1", function(d) { return d.source.x })
//     .attr("y1", function(d) { return d.source.y })
//     .attr("x2", function(d) { return d.target.x })
//     .attr("y2", function(d) { return d.target.y })
//     .style("stroke", "black");
//     //.style("stroke", "rgb(6,120,155)");
//  
//  var node = vis
//    .selectAll("circle.node")
//    .data(nodes)
//    .enter()
//    .append("g")
//    .attr("class", "node")
//  
//  // Draw labels
//  node.append("text")
//     .text(function(d, i) { return d.name; })
//     .attr("x",            function(d, i) { return d.x + rectWidth/2; })
//     .attr("y",            function(d, i) { return d.y + rectHeight/2})
//     .attr("font-family",  "Bree Serif")
//     .attr("fill",         function(d, i) {  return  palette.blue;  })
//     .attr("font-size",    function(d, i) {  return  "1em"; })
//     .attr("text-anchor", "middle")
//
//  var node = vis
//    .selectAll("circle.node")
//    .data(stages)
//    .enter()
//    .append("g")
//    .attr("class", "node")
//  
//  // Draw Stage labels
//  node.append("text")
//     .text(function(d, i) { return d.name; })
//     .attr("x",            function(d, i) { return d.x + rectWidth/2; })
//     .attr("y",            function(d, i) { return d.y + rectHeight/2})
//     .attr("font-family",  "Bree Serif")
//     .attr("fill",         function(d, i) {  return  palette.blue;  })
//     .attr("font-size",    function(d, i) {  return  "1em"; })
//     .attr("text-anchor", "middle")
}
</script>

</html>
