---
type: config
# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: DEBUG

instrument_name: aro

integration_length: 8192
num_freq: 1024
num_local_freq: 1024
num_elements: 2
samples_per_data_set: 32768
buffer_depth: 10
num_links: 8
timesamples_per_packet: 2
num_links: 4
num_data_sets: 1
cpu_affinity: [2,3,8,9]
sizeof_float: 4
sizeof_short: 2
vdif_header_size: 32 
num_disks: 10

sk_step: 256
frames_per_packet: 1

# Pool
main_pool:
    kotekan_metadata_pool: chimeMetadata
    num_metadata_objects: 15 * buffer_depth

# Buffers
vdif_buffers:
    num_frames: buffer_depth * num_disks
    frame_size: samples_per_data_set * num_elements * (num_freq + vdif_header_size)
    metadata_pool: main_pool
    vdif_buffer_0:
        kotekan_buffer: standard

power_buffers:
    num_frames: buffer_depth
    frame_size: (samples_per_data_set/integration_length) * (num_freq + 1) * num_elements * sizeof_float
    metadata_pool: main_pool
    power_buffer_0:
        kotekan_buffer: standard

rfi_buffers:
    num_frames: buffer_depth
    frame_size: sizeof_float * num_freq * samples_per_data_set / sk_step
    metadata_pool: main_pool
    rfi_buffer_0:
        kotekan_buffer: standard

#Processes
file_read:
    kotekan_process: nDiskFileRead
    out_buf: vdif_buffer_0
    disk_base: /mnt/
    disk_set: D
    capture: 20170805T155218Z_aro_vdif
    starting_file_index: 0

power_integration:
   kotekan_process: computeDualpolPower
   vdif_in_buf: vdif_buffer_0
   power_out_buf: power_buffer_0
   rfi_removal: false
   rfi_sensitivity: 0
   rfi_backfill: false

rfi_vdif:
   kotekan_process: rfiVDIF
   vdif_in: vdif_buffer_0
   rfi_out: rfi_buffer_0
   

power_stream:
   kotekan_process: networkPowerStream
   in_buf: power_buffer_0
   freq: 600
   sample_bw: 200
   destination_port: 41214
   destination_ip: 127.0.0.1
   destination_protocol: TCP

rfi_broadcast:
   kotekan_process: rfiBroadcast
   rfi_in: rfi_buffer_0
   replay: true
   destination_port: 41215
   destination_ip: 192.168.52.108 
   destination_protocol: UDP

#rfi viewer config
waterfallX: 128
waterfallY: 1024
num_receive_threads: 1
waterfall_request_delay: 1 #seconds
colorscale: 0.25
