##########################################
#
# aro_record.yaml
#
# A config used by ARO to record data to
# disk and stream data for live-view
#
# Author: Jacob Taylor
#
##########################################
---
type: config
# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: DEBUG

instrument_name: aro

integration_length: 8192
num_freq: 1024
num_local_freq: 1024
num_elements: 2
samples_per_data_set: 32768
buffer_depth: 10
num_links: 8
timesamples_per_packet: 2
num_data_sets: 1
cpu_affinity: [4,5,10,11]
sizeof_float: 4
sizeof_short: 2
vdif_header_size: 32 
num_disks: 10

frames_per_packet: 1 
sk_step: 256

#rfi viewer config
waterfallX: 256
waterfallY: 1024
num_receive_threads: 1
waterfall_request_delay: 1 #seconds

# Pool
main_pool:
    kotekan_metadata_pool: chimeMetadata
    num_metadata_objects: 15 * buffer_depth

# Buffers
vdif_buffers:
    num_frames: buffer_depth * num_disks
    frame_size: samples_per_data_set * num_elements * (num_freq + vdif_header_size)
    metadata_pool: main_pool
    vdif_buffer_0:
        kotekan_buffer: standard

power_buffers:
    num_frames: buffer_depth
    frame_size: (samples_per_data_set/integration_length) * (num_freq + 1) * num_elements * sizeof_float
    metadata_pool: main_pool
    power_buffer_0:
        kotekan_buffer: standard

rfi_buffers:
    num_frames: buffer_depth
    frame_size: sizeof_float * num_freq * samples_per_data_set / sk_step
    metadata_pool: main_pool
    rfi_buffer_0:
        kotekan_buffer: standard

#Processes
dpdk:
   udp_packet_size: 4680
   kotekan_process: dpdkWrapper
   mode: vdif
   num_lcores: 8
   vdif_buf: vdif_buffer_0
#   # These values shouldn't be needed!
   num_data_sets: 1
   num_gpu_frames: 1

raw_capture:
   kotekan_process: nDiskFileWrite
#################################
# THIS IS THE PLACE TO EDIT!!!  #
#################################
   note: B0329+20 test run
#Change this if you want to record
   write_to_disk: False
   gain_files:
   - /home/natasha/ch_acq/gains_slotNone.pkl
   - /home/natasha/ch_acq/gains_noisy_slotNone.pkl
   num_disks: 10
   disk_base: /data/
   disk_set: A
   in_buf: vdif_buffer_0

power_integration:
   kotekan_process: computeDualpolPower
   vdif_in_buf: vdif_buffer_0
   power_out_buf: power_buffer_0

rfi_vdif:
   kotekan_process: rfiAVXVDIF
   vdif_in: vdif_buffer_0
   rfi_out: rfi_buffer_0

power_stream:
   freq: 600
   sample_bw: 200
   destination_protocol: TCP
   stream_1:
      kotekan_process: networkPowerStream
      in_buf: power_buffer_0
      destination_port: 2054
      destination_ip: 127.0.0.1
   stream_2:
      kotekan_process: networkPowerStream
      in_buf: power_buffer_0
      destination_port: 2055
      destination_ip: 127.0.0.1
   stream_boris:
      kotekan_process: networkPowerStream
      in_buf: power_buffer_0
      destination_port: 2055
      destination_ip: 10.72.0.2

rfi_broadcast:
   kotekan_process: rfiBroadcastVDIF
   rfi_in: rfi_buffer_0
   destination_port: 41215
   destination_ip: 10.70.0.138 
   destination_protocol: UDP
