#########################################
#
# chime_pco_baseband_recv.yaml
#
# CHIME Outrigger PCO baseband receiver node configuration.
#
# Receives baseband dump frames from each GPU node and writes them in a raw
# output file.
#
# Author: Andre Renard
#
##########################################
---
type: config
log_level: info
num_elements: 128
num_local_freq: 16
num_data_sets: 1
samples_per_data_set: 512
buffer_depth: 64
cpu_affinity: [0,1,2,3,4]

# Constants
sizeof_float: 4
sizeof_int: 4
sizeof_short: 2

###############
#### comet ####
###############

dataset_manager:
  use_dataset_broker: False
  ds_broker_host: "10.40.1.5 # aux
  ds_broker_port: 12050

###################
#### telescope ####
###################

telescope:
  name: ICETelescope
  require_gps: false
  query_gps: true
  gps_host: 10.40.1.1 # `gw`
  allow_default_frequency_map: true

##################
#### Metadata ####
##################

# Baseband Metadata Pool
baseband_metadata_pool:
  kotekan_metadata_pool: BasebandMetadata
  num_metadata_objects: 65536

baseband_bufs:
  metadata_pool: baseband_metadata_pool
  frame_size: num_elements * samples_per_data_set
  num_frames: 180 * 96
  baseband_recv_buffer_0:
    kotekan_buffer: standard

# Kotekan stages
baseband_recv:
  drop_frames: false
  connection_timeout: 600 # 10 Minutes
  recv_0:
    kotekan_stage: bufferRecv
    buf: baseband_recv_buffer_0
    listen_port: 11027

write_baseband:
  root_path: /data/baseband_raw/
  dump_timeout: 1200 # 20 Minutes
  write_0:
    kotekan_stage: BasebandWriter
    in_buf: baseband_recv_buffer_0

buffer_status:
  kotekan_stage: bufferStatus
  print_status: false
