##########################################
#
# chime_upgrade_bb.yaml
#
# Pipeline for capturing and dumping frames from the CHIME upgrade F-engine
# packet capture code.
#
# Currently only uses one NUMA domain, but it shouldn't be hard to extend to
# the second NUMA domain.
#
# Author: Andre Renard, Roland Haas
#
##########################################
---
########################
#### Global options ####
########################
type: config
# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: info
num_elements: 2048
num_polarizations: 2
num_freq_host_buf: 1
num_freq_gpu_buf: 16
samples_per_data_set: 16384
sample_period: 2.56e-6
baseband_buffer_depth: 100 # 3*272 = ~33 seconds after accounting for active frames
host_buffer_depth: 12
gpu_buffer_depth: 4
num_gpus: 2
cpu_affinity: [0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Constants
sizeof_float: 4
sizeof_int: 4
sizeof_short: 2

use_hugepages: true

# Single source of truth for the upstream FPGA controller's REST interface.
# Referenced by /telescope/{gps,frequency_map}_host_info.
fpga_controller:
  host: 10.1.13.1
  port: 54321
  config_endpoint: /config
  timing_endpoint: /get-frame0-time
  gains_endpoint: /get-current-gain-file
  
# Telescope
telescope:
  name: CHIMETelescope
  require_gps: true
  query_gps: true # GPS time is provided via coco
  gps_host_info: /fpga_controller
  query_frequency_map: true # Frequency map is provided via coco
  require_frequency_map: true # Make sure we have the full frequency map
  allow_default_frequency_map: false # Don't fall back on default map


main_pool:
  kotekan_metadata_pool: chordMetadata
  num_metadata_objects: 30 * host_buffer_depth + 5 * baseband_buffer_depth

# Baseband metadata pool
baseband_pool:
  kotekan_metadata_pool: BasebandMetadata
  num_metadata_objects: 30 * host_buffer_depth * 32

host_voltage_buffers:
  num_frames: baseband_buffer_depth
  frame_size: 512 * 2048 * num_freq_host_buf
  metadata_pool: main_pool
  numa_0:
    numa_node: 0
{%- for id in range(4) %}
    host_voltage_buffer_{{ id }}:
      kotekan_buffer: standard
{%- endfor %}

{%- for id in range(16 // 4) %}
lost_samples_buffer_{{ id }}:
  kotekan_buffer: standard
  num_frames: 2 * host_buffer_depth
  frame_size: samples_per_data_set
  metadata_pool: main_pool
{%- endfor %}

# This configuration assumes that the system ports are ordered in as 4x10G
# links for each QSFP+, and that each QSFP+ port comes from exactly one iceBoard
# and that each iceBoard is in a _different_ crate pair, but also in the same
# location in terms of slot, crate (within the crate pair), and link (on the board).

gen_data:
{%- for id in range(4) %}
   test_data_gen_{{ id }}:
     type: "tpluseplusfprime"
     name: "E"
     dim_name: ["T", "F", "D"]
     array_shape: [512, 1, 2048] # [ samples_per_data_set, num_freq_host_buf, num_polarizations, num_dishes ]
     num_frames: 64*buffer_depth
     value: 42
     values: [0,1,2,3,4]
     kotekan_stage: testDataGen
     out_buf: host_voltage_buffer_{{ id }}
     num_freq_host_buf: num_freq_host_buf
{%- endfor %}

# Baseband capture and dump system
baseband_output_buffers:
  # 32 times smaller frames, 32 times the number of frames
  frame_size: 1048576
  metadata_pool: baseband_pool
{%- for id in range(4) %}
  baseband_output_buffer_{{ id }}:
    kotekan_buffer: standard
    # times 3 to match the lenght of seconds of CHIME's output buffer
    # accounting for the fact that CHIME upgrade's frames are 1/3 the size
    num_frames: 2 * 32 * 3 # baseband_buffer_depth
{%- endfor %}
  baseband_output_buffer_merged:
    kotekan_buffer: standard
    num_frames: 12

baseband_mboutput_buffers:
  # Multibeam beamformed output: frame_size = samples_per_data_set * num_freq_host_buf * num_beams
  # Output shape: (samples_per_dataset, num_freq_host_buf, num_beams) where each element is 1 byte (int4x2_t)
  frame_size: 512 * 1 * 8  # 512 samples * 1 freq * 8 beams
  metadata_pool: baseband_pool
{%- for id in range(4) %}
  baseband_mboutput_buffer_{{ id }}:
    kotekan_buffer: standard
    num_frames: 2 * 32 * 3 # baseband_buffer_depth
{%- endfor %}
  baseband_mboutput_buffer_merged:
    kotekan_buffer: standard
    num_frames: 12

baseband:
  # Buffering
  max_dump_samples: 30000 # 768ms
  samples_per_data_set: 512
  num_frames_buffer: baseband_buffer_depth - 10
  
  # Beamforming
  inst_lat: 49.32070922
  inst_long: -119.62367743
  {% include 'chime_feed_positions.yaml' %} # Put in feed positions from a separate config
  num_pol: 2
  num_beams: 8  # Number of beams to form during beamforming
  datasets_per_scan: 6104  # Integration time (3125000/512, rounded) ~ 8 seconds of integration.
  datasets_per_delay_update: 39063  # When to update phase delays (390625/10, rounded)

{%- for id in range(4) %}
  baseband{{ id }}:
    kotekan_stage: basebandReadout
    in_buf: host_voltage_buffer_{{ id }}
    out_buf: baseband_output_buffer_{{ id }}
    outmb_buf: baseband_mboutput_buffer_{{ id }}
    # gain_tracking_buffer: TODO: implement reading gains out of a tiny gain buffer.
    num_freq_host_buf: 1
{%- endfor %}

baseband_merge:
  kotekan_stage: bufferMerge
  timeout: 0.1
  in_bufs:
{%- for id in range(4) %}
    - baseband_output_buffer_{{ id }}
{%- endfor %}
  out_buf: baseband_output_buffer_merged

# this will move to the baseband receiver eventually
write_baseband:
  root_path: /home/calvin/baseband_raw
  dump_timeout: 1200 # 20 Minutes
  write_0:
    samples_per_data_set: 512 # samples_per_data_set / 32 (which causes a recursion if used)
    kotekan_stage: BasebandWriter
    in_buf: baseband_output_buffer_merged

## Transmit baseband data to the baseband receiver
#baseband_send:
#  server_ip: 10.5.60.2
#  reconnect_time: 60
#  send_timeout: 600 # 10 minutes
#  log_level: warn
#  # Keep data in memory even if the receiver node is down
#  # Baseband readout handles back pressure management
#  drop_frames: false
#  use_config_tracker: false # not used by legacy CHIME kotekan code
#  baseband_send_0:
#    kotekan_stage: bufferSend
#    server_port: 11027
#    buf: baseband_output_buffer_merged
