##########################################
#
# chime_fpga_patterntest_recv.yaml
#
# CHIME receiver node configuration for pattern tests
#
# Author: Rick Nitsche
#
##########################################
---
type: config
log_level: info
num_elements: 2048
buffer_depth: 64
num_ev: 4

# CPU affinity for most processes
#
# Only core 7 is unused by the high priority processes. /stacking and
# /apply_gains each have three threads and three dedicated cores (1, 2, 3 for
# stacking, 4, 5, 6 for apply_gains), however as each of these needs only about
# 2.5 cores of conpute power, we have opened up one of the hyperthread pairs to
# other stages (11 and 14, twinned with 3 and 6 respectively)
cpu_affinity: [7, 11, 14, 15]

dataset_manager:
  use_dataset_broker: True
  ds_broker_host: "10.1.50.11" # recv1

vis_pool:
  kotekan_metadata_pool: visMetadata
  num_metadata_objects: 500 * buffer_depth

vis_buffer:
  metadata_pool: vis_pool
  num_frames: buffer_depth
  visbuf_10s_all:
    kotekan_buffer: vis
  vis_test_dump:
    kotekan_buffer: vis

# test stage
pattern_test:
  kotekan_stage: visTestPattern
  in_buf: visbuf_10s_all
  out_buf: vis_test_dump
  report_freq: 1000
  tolerance: 0.000001
  write_dir: '/mnt/gong/pattern_tests'
  endpoint_name: 'run_test'
  log_level: debug2

test_writer:
  kotekan_stage: rawFileWrite
  in_buf: vis_test_dump
  file_name: 'patterntest'
  file_ext: 'dump'
  base_dir: '/mnt/gong/pattern_tests'

# Kotekan stages
buffer_recv:
  n2:
    kotekan_stage: bufferRecv
    buf: visbuf_10s_all
    listen_port: 11024
    cpu_affinity: [0, 8]
    num_threads: 2

vis_debug:
  n2:
    kotekan_stage: visDebug
    in_buf: visbuf_10s_all

count_check:
  n2:
    kotekan_stage: countCheck
    in_buf: visbuf_10s_all

buffer_status:
  kotekan_stage: bufferStatus
  print_status: false
