{#-
  chord_pathfinder.j2
  Basic N2 pipeline with F-engine packet capture
-#}


# num_output_frames: fully accumulated N2 frames per frequency that should reach hdf5N2Write
{% set num_output_frames = 100 %}

# num_local_freq: number of contiguous frequency IDs to simulate on this GPU;
#    must be divisible by 4 because pl_mask shapes use num_local_freq/4.
{% set num_local_freq = 384 %}


# CHORD telescope sampling setup (matches CHORDTelescope defaults)
{% set sampling_rate_MHz = 3.2e3 %}
{% set fft_length = 16384 %}
{% set nyquist_zone = 1 %}
{% set df_MHz = (sampling_rate_MHz / fft_length) %}
{% set freq0_MHz = 0 %}

# Science band narrowed to just the simulated freq_ids above
{% set science_min_freq_MHz = 300 %}
{% set science_max_freq_MHz = 1500 %}

# num_dishes: dishes/antennas to simulate.
# With 2 polarizations, num_elements = 2 * num_dishes, which the n2k correlator requires to be a multiple of 128
# (CorrelatorParams::ns_divisor). That means num_dishes must be a multiple of 64. This also satisfies the counts
# block (num_elements/8 divisible by 8) and the packet-loss mask’s dish/8 grouping.
{% set num_dishes = 64 %}

# fpga time samples per generated frame (data_set), per frequency/polarization/dish;
# effectively "fpga_ticks_per_full_frame". This is the frame length seen by testDataGen and the n2k correlator.
# Must be divisible by sub_integration_ntime for the correlator output, by 1024 for the RFI mask downsample,
# and by 128 for the packet-loss mask layout.
{% set samples_per_data_set = 8192 %}

# fpga samples collapsed by the GPU correlator into one n2k sub-integration/visibility sample.
# Distinct from samples_per_data_set (the total frame length); samples_per_data_set / sub_integration_ntime is the number
# of sub-integrations produced per frame. Choose any positive divisor of samples_per_data_set (does not need to be 1024).
{% set sub_integration_ntime = 8192 %}

# n2k sub-integrations contained in one generated frame (derived)
# (= samples_per_data_set / sub_integration_ntime).
{% set integrations_per_frame = samples_per_data_set // sub_integration_ntime %}

# n2k sub-integrations to combine into each output N2 frame by N2Accumulate.
# Choose a multiple of integrations_per_frame so n2k_frames_per_output is an integer and generators run long enough.
# 238 ~= 10 seconds. 
{% set num_n2k_samples_to_accumulate = 238 %} 

# correlation frames needed to form one output N2 frame
{% set n2k_frames_per_output = num_n2k_samples_to_accumulate // integrations_per_frame %}

# RFI Detection Parameters
{% set rfi_downsampling_factor = 256 %}
{% set rfi_second_downsampling_factor = 32 %}
{% set rfi_num_times = samples_per_data_set // rfi_downsampling_factor %}  {# = 32 #}
{% set rfi_num_times_bar = rfi_num_times //  rfi_second_downsampling_factor %}  {# = 1 #}

# RFI SK Thresholds
{% set rfi_sk_rfimask_sigmas = 5.0 %}
{% set rfi_single_feed_min_good_frac = 0.8 %}
{% set rfi_feed_averaged_min_good_frac = 0.8 %}
{% set rfi_mu_min = 2.0 %}
{% set rfi_mu_max = 20.0 %}


---
type: config

# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: INFO

numa_node: 0

num_gpus: 1
buffer_depth: 4
num_gpu_frames: 4
host_side_buffer_depth: buffer_depth * 4
cpu_affinity: [0,1,8,11,12,13,14,15]
frame_arrival_period: 5.12e-6 * {{ samples_per_data_set }}
sizeof_gpu_int: 4 # bytes
sizeof_int8: 1
sizeof_uint64: 8
sizeof_float32: 4

sub_integration_ntime: {{ sub_integration_ntime }}
samples_per_data_set: {{ samples_per_data_set }}
rfi_downsampling_factor: {{ rfi_downsampling_factor }}
rfi_second_downsampling_factor: {{ rfi_second_downsampling_factor }}
rfi_num_times: {{ rfi_num_times }}
rfi_num_times_bar: {{ rfi_num_times_bar }}
rfi_sk_rfimask_sigmas: {{ rfi_sk_rfimask_sigmas }}
rfi_single_feed_min_good_frac: {{ rfi_single_feed_min_good_frac }}
rfi_feed_averaged_min_good_frac: {{ rfi_feed_averaged_min_good_frac }}
rfi_mu_min: {{ rfi_mu_min }}
rfi_mu_max: {{ rfi_mu_max }}
num_times: samples_per_data_set  # New N2K needs this.
num_polarizations: 2
num_dishes: {{ num_dishes }}
num_elements: num_polarizations * {{ num_dishes }}
num_local_freq: {{ num_local_freq }}
num_ev_to_calculate: 2

# DPDK related parameters
dpdk_output_frame_size: samples_per_data_set * num_local_freq * num_elements
num_crs_boards: 16  # Number of F-engine boards sending data
time_samples_per_packet: 16
time_short: 16
time_long: samples_per_data_set / time_short
element_short: 8
element_long: num_elements / element_short

telescope:
  name: CHORDTelescope
  sampling_rate_MHz: {{ sampling_rate_MHz }}
  fft_length: {{ fft_length }}
  nyquist_zone: {{ nyquist_zone }}
  min_science_freq_MHz: {{ science_min_freq_MHz }}
  max_science_freq_MHz: {{ science_max_freq_MHz }}

  origin_itrs_lat_deg: 49.32075144444
  origin_itrs_lon_deg: -119.62081125

  grid_x_axis: [ 0.999974342398359362,
                -0.000037539331442772,
                -0.007163318767675494]
  grid_y_axis: [0.000065403387739210,
                0.999992433220348809,
                0.003889630373557614]
  
  dish_elev_axis: [0.99999999838132391,
                   -0.000056897733584327
                   0.0]
  dish_vert_axis: [0.0, 0.0, 1.0]

  dish_coelev_deg: -27.3  # Approx Tau A (Crab) pointing

  num_dishes_x: 8
  num_dishes_y: 12
  dish_separation_x_m: 6.300156854906823
  dish_separation_y_m: 8.500057809796308
  dish_inputs: [
    {dish_idx: 0, grid_x_idx: 0,  grid_y_idx: 0,  feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: A01p1},
    {dish_idx: 1, grid_x_idx: 0,  grid_y_idx: 0,  feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: A01p2},
    {dish_idx: 2, grid_x_idx: 5,  grid_y_idx: 0,  feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: A06p1},
    {dish_idx: 3, grid_x_idx: 5,  grid_y_idx: 0,  feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: A06p2},
    {dish_idx: 4, grid_x_idx: 6,  grid_y_idx: 0,  feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: A07p1},
    {dish_idx: 5, grid_x_idx: 6,  grid_y_idx: 0,  feed_pos_disp_m: [0.0, 0.0, 0.0], coelev_disp_deg: 0.0, type: ArrayDish, label: A07p2}
  ]

  require_gps: False
  eop_updatable_config: /earth_rotation_data

gps_time:
  frame0_nano: 1772838439000002880

earth_rotation_data:
  kotekan_update_endpoint: json
  earth_orientation_parameter_table: [
    {time_inst_ns: 1772582400000000000, delta_UT1_inst: 0.0656707, x_pm: 0.105507, y_pm: 0.391049},
    {time_inst_ns: 1772668800000000000, delta_UT1_inst: 0.0648799, x_pm: 0.105252, y_pm: 0.392053},
    {time_inst_ns: 1772755200000000000, delta_UT1_inst: 0.0641748, x_pm: 0.105104, y_pm: 0.392867},
    {time_inst_ns: 1772841600000000000, delta_UT1_inst: 0.0636325, x_pm: 0.104868, y_pm: 0.393615},
    {time_inst_ns: 1772928000000000000, delta_UT1_inst: 0.0632809, x_pm: 0.104708, y_pm: 0.3943},
    {time_inst_ns: 1773014400000000000, delta_UT1_inst: 0.0630986, x_pm: 0.104657, y_pm: 0.394958},
    {time_inst_ns: 1773100800000000000, delta_UT1_inst: 0.063031, x_pm: 0.104761, y_pm: 0.395598}
  ]

# Pools
main_pool:
    kotekan_metadata_pool: chordMetadata
    num_metadata_objects: 15 * buffer_depth

n2_pool:
    kotekan_metadata_pool: N2Metadata
    num_metadata_objects: 16 * buffer_depth

# Bad feed mask - marks which feeds to exclude from RFI calculations
# Shape: [P, D] = [2, num_dishes] - all ones means all feeds are good
host_bf_mask_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_int8 * num_dishes * num_polarizations
    metadata_pool: main_pool

# Buffers
network_input_buffers:
    log_level: info
    num_frames: host_side_buffer_depth
    frame_size: dpdk_output_frame_size
    metadata_pool: main_pool
    use_hugepages: true
    # The workers share an output buffer
    network_input_buffer_0:
        zero_new_frames: true
        zero_value: 0x88
        kotekan_buffer: standard
    # Main voltage buffer after transpose
    host_voltage_buffer:
        kotekan_buffer: standard

packet_receipt_bitmap_buffers:
    log_level: info
    num_frames: host_side_buffer_depth
    frame_size: (samples_per_data_set / time_samples_per_packet) * num_crs_boards  # One bit per stream
    metadata_pool: main_pool
    use_hugepages: true
    packet_receipt_bitmap_buffer_0:
        kotekan_buffer: standard
    packet_receipt_bitmap_buffer_1:
        kotekan_buffer: standard
    combined_receipt_bitmap_buffer:
        kotekan_buffer: standard

host_rfi_RFImask_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: num_local_freq * samples_per_data_set / 8
    zero_new_frames: true
    zero_value: 0xFF
    metadata_pool: main_pool

host_rfi_RFImask_buffer_NA:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: num_local_freq * samples_per_data_set / 8
    zero_new_frames: true
    zero_value: 0xFF
    metadata_pool: main_pool

host_rfi_SKtilde_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: sizeof_float32 * 3 * num_local_freq * rfi_num_times
    metadata_pool: main_pool

host_rfi_SKbar_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: sizeof_float32 * num_polarizations * num_dishes * 3 * num_local_freq * rfi_num_times_bar
    metadata_pool: main_pool

# Note this is the expanded version of the pl_mask used for correlator input
host_pl_mask_exp_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: (samples_per_data_set / 64) * (num_local_freq) * (num_elements / 8) * 8
    metadata_pool: main_pool

# pl_mask for RFI s0_kernel. Shape: [T/128, F/4, P, D/8, 8]
host_pl_mask_compact_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: (64 / 8) * (num_dishes / 8) * num_polarizations * (num_local_freq / 4) * (samples_per_data_set / 2 / 64)
    metadata_pool: main_pool

vis_blocksize: 16
vis_num_blocks_lin: num_elements / vis_blocksize
vis_num_blocks: vis_num_blocks_lin * (vis_num_blocks_lin + 1) / 2
host_correlation_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: num_local_freq * (samples_per_data_set / sub_integration_ntime) * 16 * 16 * vis_num_blocks * 2 * sizeof_gpu_int
    metadata_pool: main_pool

counts_blocksize: 8
counts_num_blocks_lin: (num_elements / 8) / counts_blocksize
counts_num_blocks: (counts_num_blocks_lin * (counts_num_blocks_lin + 1)) / 2
host_counts_buffer:
    kotekan_buffer: standard
    num_frames: host_side_buffer_depth
    frame_size: (samples_per_data_set / sub_integration_ntime) * num_local_freq * counts_num_blocks * counts_blocksize * counts_blocksize * sizeof_gpu_int
    metadata_pool: main_pool

n2_buffer:
    kotekan_buffer: N2
    num_ev: 0
    n2_layout: "FullUpperTri"
    num_frames: host_side_buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_subset_buffer:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: 0
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_eigen_buffer:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_split_1:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_split_2:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_recv_buffer_1:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_recv_buffer_2:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

n2_merge_buffer:
    kotekan_buffer: N2
    num_elements: 8
    num_ev: num_ev_to_calculate
    n2_layout: "FullUpperTri"
    num_frames: buffer_depth * num_local_freq
    metadata_pool: n2_pool

# Ringbuffer signalling buffer
host_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * samples_per_data_set * num_elements * num_local_freq
    metadata_pool: main_pool

host_rfi_RFImask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_local_freq * samples_per_data_set / 8
    metadata_pool: main_pool

host_pl_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * (num_local_freq / 4) * (samples_per_data_set / 2 / 64)
    metadata_pool: main_pool

host_pl_mask_exp_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (samples_per_data_set * num_local_freq * (num_elements / 8)) / 8
    metadata_pool: main_pool

# RFI S012 statistics ringbuffer
# Shape: [Trfi, F, S, P, D] = [rfi_num_times, num_local_freq, 3, 2, num_dishes]
host_rfi_S012_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * sizeof_uint64 * num_dishes * num_polarizations * 3 * num_local_freq * rfi_num_times
    metadata_pool: main_pool

# RFI S012bar statistics ringbuffer (time-downsampled)
# Shape: [Trfibar, F, S, P, D] = [rfi_num_times_bar, num_local_freq, 3, 2, num_dishes]
host_rfi_S012bar_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * sizeof_uint64 * num_dishes * num_polarizations * 3 * num_local_freq * rfi_num_times_bar
    metadata_pool: main_pool

# RFI SKbar statistics ringbuffer (time-downsampled SK)
# Shape: [Trfibar, F, SK, P, D] = [rfi_num_times_bar, num_local_freq, 3, 2, num_dishes]
host_rfi_SKbar_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * sizeof_float32 * num_dishes * num_polarizations * 3 * num_local_freq * rfi_num_times_bar
    metadata_pool: main_pool

# RFI SKbartilde statistics ringbuffer (time-downsampled and feed-averaged SK)
# Shape: [Trfibar, F, SK] = [rfi_num_times_bar, num_local_freq, 3]
host_rfi_SKbartilde_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * sizeof_float32 * 3 * num_local_freq * rfi_num_times_bar
    metadata_pool: main_pool

# RFI SKtilde statistics ringbuffer (feed-averaged SK)
# Shape: [Trfi, F, SK] = [rfi_num_times, num_local_freq, 3]
host_rfi_SKtilde_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * sizeof_float32 * 3 * num_local_freq * rfi_num_times
    metadata_pool: main_pool


# Stages

##  Packet capture from the F-engine ##
dpdk:
    kotekan_stage: dpdkCore
    log_level: info
    # Format is index = lcore, value = cpu core
    lcore_cpu_map: [5,6,7] # [5,6,7]
    main_lcore_cpu: 4
    num_mbufs: 16384
    rx_ring_size: 1024
    mbuf_cache_size: 512
    packet_size: 6208
    payload_size: 6144
    max_rx_pkt_len: 6208
    burst_size: 32
    # The number of stream IDs expected per worker
    num_expected_stream_ids: 4
    frame_service_cpu_affinity: [4]
    # List of PCIe addresses to block from DPDK use
    pcie_block_list:
        - "0000:37:00.0"
        - "0000:37:00.1"
        - "0000:b5:00.0"
        - "0000:b5:00.1"
    worker_ring_map:
        - name: worker_ring_0
          num_slots: 512
          socket_id: 0
        - name: worker_ring_1
          num_slots: 512
          socket_id: 0
    # Format is index = lcore, value = array of port IDs
    # so [[0,1],[2,3]] maps lcore 0 to service ports 0 and 1,
    # and lcore 1 to service ports 2 and 3.
    lcore_port_map:
        - [0]
    # One handler must be given per port
    handlers:
        - dpdk_handler: crs16BoardDistributor
          worker_rings: [0,1]
    # Exactly One worker must be given per worker ring
    workers:
        - dpdk_handler: crs16BoardCaptureWorker
          worker_ring: 0
          port: 0
          allocate_metadata: true
          out_buf: network_input_buffer_0
          receipt_bitmap_buf: packet_receipt_bitmap_buffer_0
        - dpdk_handler: crs16BoardCaptureWorker
          worker_ring: 1
          port: 0
          out_buf: network_input_buffer_0
          receipt_bitmap_buf: packet_receipt_bitmap_buffer_1

# Combine packet receipt bitmaps and generate packet-loss masks
process_packet_mask:
    kotekan_stage: ProcessPacketMask
    voltage_buf: network_input_buffer_0
    receipt_bitmap_bufs:
        - packet_receipt_bitmap_buffer_0
        - packet_receipt_bitmap_buffer_1
    combined_receipt_bitmap_buf: combined_receipt_bitmap_buffer
    pl_mask_buf: host_pl_mask_exp_buffer
    rfi_mask_buf: host_rfi_RFImask_buffer_NA
    num_frequency: num_local_freq
    num_source_ids: num_crs_boards
    # Update this as we add more CRS (F-engine) boards 
    missing_source_ids: [4,5,6,7,8,9,10,11,12,13,14,15]

# Transpose the voltage data from the network input buffer into a more convenient layout
# for the GPU and baseband dump processing. 
# This also applies the packet-loss mask to the data
transpose_voltage_0:
    kotekan_stage: TransposeBasebandArray
    cpu_affinity: [2]
    timesamples_per_frame: samples_per_data_set
    in_buf: network_input_buffer_0
    pl_mask_buf: host_pl_mask_exp_buffer
    out_buf: host_voltage_buffer
    frame_mode: even

transpose_voltage_1:
    kotekan_stage: TransposeBasebandArray
    cpu_affinity: [3]
    timesamples_per_frame: samples_per_data_set
    in_buf: network_input_buffer_0
    pl_mask_buf: host_pl_mask_exp_buffer
    out_buf: host_voltage_buffer
    frame_mode: odd

# Convert expanded pl_mask from ProcessPacketMask to compact format for RFI s0_kernel
compact_pl_mask:
    kotekan_stage: PLMaskExpandedToCompact
    in_buf: host_pl_mask_exp_buffer
    out_buf: host_pl_mask_compact_buffer

# Generate fake bad feed mask filled with ones for now (all feeds good)
generate_bf_mask:
    kotekan_stage: testDataGen
    out_buf: host_bf_mask_buffer
    type: const8
    value: 1
    num_frames: 1
    wait: false
    name: bf_mask
    array_shape: [2, {{ num_dishes }}]
    dim_name: ["P", "D"]



## Send data to GPU ringbuffers ##

run_send_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_buffer_in: host_voltage_buffer
        out_buffers:
            host_voltage_ringbuffer_out: host_voltage_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: samples_per_data_set * num_elements * num_local_freq
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_voltage_buffer_in
          signal_buf: host_voltage_ringbuffer_out
          gpu_mem_output: voltage_buffer

# run_send_rfi_RFImask:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_rfi_RFImask_buffer_in: host_rfi_RFImask_buffer
#         out_buffers:
#             host_rfi_RFImask_ringbuffer_out: host_rfi_RFImask_ringbuffer
#         commands:
#         - name: cudaCopyToRingbuffer
#           input_size: num_local_freq * samples_per_data_set / 8
#           ring_buffer_size: buffer_depth * input_size
#           in_buf: host_rfi_RFImask_buffer_in
#           signal_buf: host_rfi_RFImask_ringbuffer_out
#           gpu_mem_output: rfi_RFImask_buffer

run_send_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_exp_buffer_in: host_pl_mask_exp_buffer
        out_buffers:
            host_pl_mask_exp_ringbuffer: host_pl_mask_exp_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: (samples_per_data_set / 64) * (num_local_freq) * (num_elements / 8) * 8
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_pl_mask_exp_buffer_in
          signal_buf: host_pl_mask_exp_ringbuffer
          gpu_mem_output: pl_mask_exp_buffer

run_send_pl_mask_compact:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_compact_buffer_in: host_pl_mask_compact_buffer
        out_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: (64 / 8) * (num_dishes / 8) * num_polarizations * (num_local_freq / 4) * (samples_per_data_set / 2 / 64)
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_pl_mask_compact_buffer_in
          signal_buf: host_pl_mask_ringbuffer
          gpu_mem_output: pl_mask_buffer



## RFI Detection Pipeline ##


# Compute S0, S1, S2 statistics from voltage and compact packet loss mask
run_rfi_S012:
    num_frequencies: num_local_freq
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
            host_voltage_ringbuffer: host_voltage_ringbuffer
        out_buffers:
            host_rfi_S012_ringbuffer: host_rfi_S012_ringbuffer
        commands:
        - name: cudaRFIS012
          pl_mask_name: pl_mask
          voltage_name: voltage
          rfi_S012_name: rfi_S012

# Compute SK statistics and RFI mask from S012 + bf_mask
run_rfi_SKtilde:
    num_frequencies: num_local_freq
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_bf_mask_buffer: host_bf_mask_buffer
            host_rfi_S012_ringbuffer: host_rfi_S012_ringbuffer
        out_buffers:
            host_rfi_SKtilde_ringbuffer: host_rfi_SKtilde_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_bf_mask_buffer
          gpu_mem: bf_mask_buffer
        - name: cudaSyncInput
        - name: cudaRFISKtilde
          bf_mask_name: bf_mask
          rfi_S012_name: rfi_S012
          rfi_SKtilde_name: rfi_SKtilde
          rfi_RFImask_name: rfi_RFImask
 
# Downsample S0, S1, S2 statistics by rfi_second_downsampling_factor
run_rfi_S012bar:
    num_frequencies: num_local_freq
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_S012_ringbuffer: host_rfi_S012_ringbuffer
        out_buffers:
            host_rfi_S012bar_ringbuffer: host_rfi_S012bar_ringbuffer
        commands:
        - name: cudaRFIS012bar
          rfi_S012_name: rfi_S012
          rfi_S012bar_name: rfi_S012bar

# Compute SK statistics from S012bar + bf_mask
run_rfi_SKbar:
    num_frequencies: num_local_freq
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_bf_mask_buffer: host_bf_mask_buffer
            host_rfi_S012bar_ringbuffer: host_rfi_S012bar_ringbuffer
        out_buffers:
            host_rfi_SKbar_ringbuffer: host_rfi_SKbar_ringbuffer
            host_rfi_SKbartilde_ringbuffer: host_rfi_SKbartilde_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_bf_mask_buffer
          gpu_mem: bf_mask_buffer
        - name: cudaSyncInput
        - name: cudaRFISKbar
          bf_mask_name: bf_mask
          rfi_S012bar_name: rfi_S012bar
          rfi_SKbar_name: rfi_SKbar
          rfi_SKbartilde_name: rfi_SKbartilde

# Packet-loss correlator to produce counts for N2Accumulate

run_pl_corr:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_exp_ringbuffer: host_pl_mask_exp_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_counts_buffer: host_counts_buffer
        commands:
        - name: cudaPL1bitCorrelator
          num_frequencies: num_local_freq
          pl_expanded_mask_name: pl_mask_exp
          rfi_RFImask_name: rfi_RFImask
          n2k_counts_name: counts
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: counts_buffer
          out_buf: host_counts_buffer

# Copy RFI mask back to CPU
run_recv_rfi_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_RFImask_ringbuffer_in: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_rfi_RFImask_buffer_out: host_rfi_RFImask_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_RFImask_ringbuffer_in
          gpu_mem_input: rfi_RFImask_buffer
          output_size: samples_per_data_set * num_local_freq / 8
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_RFImask_buffer_out


# Run N2K correlator

run_n2k:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_correlation: host_correlation_buffer
        commands:
        - name: cudaCorrelator
          n2k_correlation_name: correlation
          voltage_name: voltage
          rfi_RFImask_name: rfi_RFImask
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: correlation_buffer
          out_buf: host_correlation


# # Copy RFI feed-averaged SK statistics back to CPU
# run_recv_SKtilde:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_rfi_SKtilde_ringbuffer_in: host_rfi_SKtilde_ringbuffer
#         out_buffers:
#             host_rfi_SKtilde_buffer_out: host_rfi_SKtilde_buffer
#         commands:
#         - name: cudaCopyFromRingbuffer
#           host_signal: host_rfi_SKtilde_ringbuffer_in
#           gpu_mem_input: rfi_SKtilde_buffer
#           output_size: sizeof_float32 * 3 * num_local_freq * rfi_num_times
#           ring_buffer_size: buffer_depth * output_size
#           out_buf: host_rfi_SKtilde_buffer_out
# 
# # Copy RFI time-downsampled SK statistics back to CPU
# run_recv_SKbar:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_rfi_SKbar_ringbuffer_in: host_rfi_SKbar_ringbuffer
#         out_buffers:
#             host_rfi_SKbar_buffer_out: host_rfi_SKbar_buffer
#         commands:
#         - name: cudaCopyFromRingbuffer
#           host_signal: host_rfi_SKbar_ringbuffer_in
#           gpu_mem_input: rfi_SKbar_buffer
#           output_size: sizeof_float32 * num_dishes * num_polarizations * 3 * num_local_freq * rfi_num_times_bar
#           ring_buffer_size: buffer_depth * output_size
#           out_buf: host_rfi_SKbar_buffer_out


# Accumulate N2K visibilities on CPU

hex_dump:
    #kotekan_stage: hexDump
    in_buf: n2_buffer
    len: 4096


n2_accumulate:
    kotekan_stage: N2Accumulate
    cpu_affinity: [9]
    in_buf: host_correlation_buffer
    in_counts_buf: host_counts_buffer
    in_rfimask_buf: host_rfi_RFImask_buffer
    out_buf: n2_buffer
    num_freq_per_n2k_frame: num_local_freq
    packet_loss_is_scalar: True
    num_n2k_samples_to_accumulate: {{ num_n2k_samples_to_accumulate }}


# Subset to first 12 elements (6 dishes x 2 polarizations)

n2_subset:
    kotekan_stage: N2Subset
    cpu_affinity: [11]
    in_buf: n2_buffer
    out_buf: n2_subset_buffer


# Add eigen calculation (runs on subsetted data)

# eigencalc:
#     kotekan_stage: EigenN2Iter
#     num_ev: num_ev_to_calculate
#     cpu_affinity: [10]
#     log_level: debug
#     in_buf: n2_subset_buffer
#     out_buf: n2_eigen_buffer
#     # Convergence config
#     tol_eval: 0.0001
#     tol_evec: 0.001
#     max_iterations: 10
#     num_ev_conv: 2
#     krylov: 2
#     subspace: 2


# Write out the visibilities using HDF5

# Full visibilities (all elements)
hdf5_N2_write_accum:
    log_level: DEBUG
    kotekan_stage: hdf5N2Write
    cpu_affinity: [12]
    in_buf: n2_buffer
    base_dir: /data/kotekan_vis_files/2026_03_07/full/
    baseband_gain_dir: /mnt/cs00/data/baseband_gains/
    file_name: pipeline_test
    prefix_hostname: false
    use_bitshuffle: true
    compression: "lz4"
    compression_level: 3
    zip_compression: 0
    # Chunking: ensure positive chunk sizes
    blocksize_f: 16
    late_frame_grace_seconds: 30
    num_ev: 0
    n2_layout: "FullUpperTri"
    num_file_t: 20

# Eigen output (6 elements with eigenvectors)
# hdf5_N2_write_eigen:
#     log_level: DEBUG
#     kotekan_stage: hdf5N2Write
#     cpu_affinity: [13]
#     in_buf: n2_eigen_buffer
#     base_dir: /mnt/cs00/data/kotekan_vis_files/2026_03_07/subset/
#     baseband_gain_dir: /mnt/cs00/data/baseband_gains/
#     file_name: pipeline_eigen
#     prefix_hostname: false
#     use_bitshuffle: true
#     compression: "lz4"
#     compression_level: 3
#     zip_compression: 0
#     # Chunking: ensure positive chunk sizes
#     blocksize_f: 16
#     late_frame_grace_seconds: 30
#     num_ev: num_ev_to_calculate
#     n2_layout: "FullUpperTri"
#     num_file_t: 20

# # Write out (some) SKtilde statistics
# hdf5_write_SKtilde:
#     log_level: INFO
#     kotekanStage: hdf5FileWrite
#     cpu_affinity: [13]
#     in_buf: host_rfi_SKtilde_buffer
#     base_dir: /mnt/cs00/data/kotekan_vis_files/2026_03_07/SKtilde/
#     filename: pipeline_SKtilde
#     prefix_hostname: false
#     create_single_file: true
#     write_x_frames: 32  # 1 frame is ~42 ms, so this is ~1.3 s of writing
#     per_y_frames: 16384 # 2048 = 32 * 64 ~ 1.3 minutes  16384 ~ 11 minutes
# 
# # Write out (some) SKbar statistics
# hdf5_write_SKtilde:
#     log_level: INFO
#     kotekanStage: hdf5FileWrite
#     cpu_affinity: [13]
#     in_buf: host_rfi_SKbar_buffer
#     base_dir: /mnt/cs00/data/kotekan_vis_files/2026_03_07/SKbar/
#     filename: pipeline_SKbar
#     prefix_hostname: false
#     create_single_file: true
#     write_x_frames: 32  # 1 frame is ~42 ms, so this is ~1.3 s of writing
#     per_y_frames: 16384 # 2048 = 32 * 64 ~ 1.3 minutes  16384 ~ 11 minutes
# 

