##########################################
#
# crs_packet_capture.yaml
#
# Configuration for capturing packets from the CRS board.
# Set the buffer depth to match the size of the capture
#
# Author: Andre Renard
#
##########################################

---
type: config
# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: info

buffer_depth: 120

# The shape of the frame DPDK produces is:
# E[time_long, num_local_freq, element_long, time_short, element_short]
timesamples_per_frame: 8192
num_times: 8192
time_long: timesamples_per_frame / time_short
time_short: 16
num_elements: 128
num_local_freq: 384
num_frequencies: 384
num_dishes: 64
element_short: 8
element_long: num_elements / element_short
# Note this is about 384MB per frame (192 huge pages)
dpdk_output_frame_size: time_long * num_local_freq * element_long * time_short * element_short

num_crs_boards: 16
capture_n_frames: 0  # Total number of frames to capture, 0 = unlimited
numa_node: 0

# Type sizes

sizeof_uint8: 1
sizeof_uint16: 2
sizeof_uint32: 4
sizeof_uint64: 8
sizeof_int8: 1
sizeof_int16: 2
sizeof_int32: 4
sizeof_int64: 8
sizeof_float16: 2
sizeof_float32: 4
sizeof_float64: 8

# Basic constants

num_components: 2
num_polarizations: 2

# Telescope object
telescope:
    name: CHORDTelescope
    require_gps: false
    num_dishes_x: 8
    num_dishes_y: 12
    num_dishes: 64
    updatable_config: "/earth_rotation_data"

    dish_inputs:
    {% for y in range(0, 10) %}
    {% for x in range(0, 7) %}
    {% if x+7*y < 64 %}
    - dish_idx: {{x+7*y}}
      grid_x_idx: {{x}}
      grid_y_idx: {{y}}
      feed_pos_disp_m: [0.0, 0.0, 0.0]
      coelev_disp_deg: 0.0
      type: ArrayDish
      label: CHORD-{{"ABCDEFGHIJKLMNOPQRSTUVWXYZ"[y]}}{{"{:02d}".format(x+1)}}
    {% endif %}
    {% endfor %}
    {% endfor %}
dummy_declaration_to_eat_jinja2_white_space_keep_this_right_after_the_telescope_definition:

earth_rotation_data:
    kotekan_update_endpoint: json
    earth_orientation_parameter_table:
    - {time_inst_ns: 0, delta_UT1_inst: 0.0, x_pm: 0.0, y_pm: 0.0}

# Pool
main_pool:
    kotekan_metadata_pool: chordMetadata
    num_metadata_objects: 15 * buffer_depth

# Buffers
network_input_buffers:
    log_level: info
    num_frames: buffer_depth
    frame_size: dpdk_output_frame_size
    metadata_pool: main_pool
    use_hugepages: true
    # The workers share an output buffer
    network_input_buffer_0:
        zero_new_frames: true
        zero_value: 0x88
        kotekan_buffer: standard
    network_input_buffer_transpose:
        kotekan_buffer: standard

packet_receipt_bitmap_buffers:
    log_level: info
    num_frames: buffer_depth
    frame_size: (timesamples_per_frame / time_short) * num_crs_boards  # One bit per stream
    metadata_pool: main_pool
    use_hugepages: true
    packet_receipt_bitmap_buffer_0:
        kotekan_buffer: standard
    packet_receipt_bitmap_buffer_1:
        kotekan_buffer: standard
    combined_receipt_bitmap_buffer:
        kotekan_buffer: standard

# pl_mask shape: uint64_t [T/64][F][E/8] where T = timesamples_per_frame, F = num_local_freq, E = num_elements
# Size in bytes = (T/64) * F * (E/8) * 8 = T/64 * F * E
pl_mask_T_div_64: timesamples_per_frame / 64
pl_mask_E_div_8: num_elements / 8
pl_mask_frame_size: pl_mask_T_div_64 * num_local_freq * pl_mask_E_div_8 * 8

pl_mask_buffer:
    kotekan_buffer: standard
    log_level: info
    num_frames: buffer_depth
    frame_size: pl_mask_frame_size
    metadata_pool: main_pool
    use_hugepages: false

cpu_affinity: [2,3,8,9,10,11,12,13]
dpdk:
    kotekan_stage: dpdkCore
    log_level: info
    # Format is index = lcore, value = cpu core
    lcore_cpu_map: [5,6,7] # [5,6,7]
    main_lcore_cpu: 4
    num_mbufs: 4096
    mbuf_cache_size: 256
    packet_size: 6208
    payload_size: 6144
    max_rx_pkt_len: 6208
    burst_size: 32
    # The number of stream IDs expected per worker
    num_expected_stream_ids: 4
    frame_service_cpu_affinity: [4]
    # List of PCIe addresses to block from DPDK use
    pcie_block_list:
        - "0000:37:00.0"
        - "0000:37:00.1"
        - "0000:b5:00.0"
        - "0000:b5:00.1"
    worker_ring_map:
        - name: worker_ring_0
          num_slots: 128
          socket_id: 0
        - name: worker_ring_1
          num_slots: 128
          socket_id: 0
    # Format is index = lcore, value = array of port IDs
    # so [[0,1],[2,3]] maps lcore 0 to service ports 0 and 1,
    # and lcore 1 to service ports 2 and 3.
    lcore_port_map:
        - [0]
    # One handler must be given per port
    handlers:
        - dpdk_handler: crs16BoardDistributor
          worker_rings: [0,1]
    # Exactly One worker must be given per worker ring
    workers:
        - dpdk_handler: crs16BoardCaptureWorker
          worker_ring: 0
          port: 0
          allocate_metadata: true
          out_buf: network_input_buffer_0
          receipt_bitmap_buf: packet_receipt_bitmap_buffer_0
        - dpdk_handler: crs16BoardCaptureWorker
          worker_ring: 1
          port: 0
          out_buf: network_input_buffer_0
          receipt_bitmap_buf: packet_receipt_bitmap_buffer_1

process_packet_mask:
    kotekan_stage: ProcessPacketMask
    voltage_buf: network_input_buffer_0
    receipt_bitmap_bufs:
        - packet_receipt_bitmap_buffer_0
        - packet_receipt_bitmap_buffer_1
    combined_receipt_bitmap_buf: combined_receipt_bitmap_buffer
    pl_mask_buf: pl_mask_buffer
    num_frequency: num_local_freq
    num_source_ids: num_crs_boards
    missing_source_ids: [3, 4,5,6,7,8,9,10,11,12,13,14,15]


transpose_voltage:
    kotekan_stage: TransposeBasebandArray
    in_buf: network_input_buffer_0
    pl_mask_buf: pl_mask_buffer
    out_buf: network_input_buffer_transpose





#### GPU ####

gpu_buffer_depth: 4

host_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: gpu_buffer_depth * num_elements * num_local_freq * timesamples_per_frame
    metadata_pool: main_pool

host_pl_expanded_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: gpu_buffer_depth * pl_mask_T_div_64 * num_local_freq * pl_mask_E_div_8 * 8
    metadata_pool: main_pool

host_rfi_RFImask_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: num_frequencies * num_times / 8
    type: uint1x8
    dimnames: ["T8hi128", "F", "T8lo128"]
    shape: [num_times / 8 / 128, num_frequencies, 128]
    metadata_pool: main_pool

host_rfi_RFImask_ringbuffer:
    kotekan_buffer: ring
    num_frames: buffer_depth
    ring_buffer_size: buffer_depth * num_frequencies * num_times / 8
    type: uint1x8
    dimnames: ["T8hi128", "F", "T8lo128"]
    shape: [buffer_depth * num_times / 8 / 128, num_frequencies, 128]
    metadata_pool: main_pool


# Generate fake RFI mask for testing
# RFImask is a bitmask where 1 = good data, 0 = RFI flagged
# Using 0xFF means all data is good (no RFI)
fake_rfi_mask:
    kotekan_stage: testDataGen
    out_buf: host_rfi_RFImask_buffer
    type: const1x8
    value: 0xFF
    wait: false
    samples_per_data_set: timesamples_per_frame
    array_shape: [timesamples_per_frame / 8 / 128, num_local_freq, 128]
    dim_name: ["T8hi128", "F", "T8lo128"]

gpu_copy_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        buffer_depth: gpu_buffer_depth
        gpu_id: 0
        in_buffers:
            host_voltage_buffer: network_input_buffer_transpose
            host_pl_expanded_mask_buffer: pl_mask_buffer
            host_rfi_RFImask_buffer: host_rfi_RFImask_buffer
        out_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_pl_expanded_mask_ringbuffer: host_pl_expanded_mask_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        commands:
        # Copy the voltage data to the GPU ring buffer "voltage_buffer"
        - name: cudaCopyToRingbuffer
          input_size: num_elements * num_local_freq * timesamples_per_frame
          ring_buffer_size: gpu_buffer_depth * input_size
          in_buf: host_voltage_buffer
          signal_buf: host_voltage_ringbuffer
          gpu_mem_output: voltage_buffer
        # Copy the expanded pl mask to the GPU ring buffer "pl_expanded_mask_buffer"
        - name: cudaCopyToRingbuffer
          input_size: pl_mask_T_div_64 * num_local_freq * pl_mask_E_div_8 * 8
          ring_buffer_size: gpu_buffer_depth * input_size
          in_buf: host_pl_expanded_mask_buffer
          signal_buf: host_pl_expanded_mask_ringbuffer
          gpu_mem_output: pl_expanded_mask



# Correlator setup
n2k_sub_integration_ntime: 8192
# n2k_samples_per_data_set = max(num_times, n2k_sub_integration_ntime)
n2k_samples_per_data_set: 8192

n2k_num_subintegrations: n2k_samples_per_data_set / n2k_sub_integration_ntime

n2k_correlation_blocksize: 16
n2k_correlation_num_elements: num_dishes * num_polarizations
n2k_correlation_linear_num_blocks: (n2k_correlation_num_elements + 1) / n2k_correlation_blocksize
n2k_correlation_triangle_num_blocks: n2k_correlation_linear_num_blocks * (n2k_correlation_linear_num_blocks + 1) / 2
n2k_correlation_triangle_size: n2k_correlation_blocksize * n2k_correlation_blocksize * n2k_correlation_triangle_num_blocks

n2k_counts_blocksize: 8
n2k_counts_num_elements: num_dishes / 8 * num_polarizations
n2k_counts_linear_num_blocks: (n2k_counts_num_elements + 1) / n2k_counts_blocksize
n2k_counts_triangle_num_blocks: n2k_counts_linear_num_blocks * (n2k_counts_linear_num_blocks + 1) / 2
n2k_counts_triangle_size: n2k_counts_blocksize * n2k_counts_blocksize * n2k_counts_triangle_num_blocks


run_n2k_correlation:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_n2k_correlation_buffer: host_n2k_correlation_buffer
        commands:
        - name: cudaCorrelator
          num_elements: num_dishes * num_polarizations
          num_local_freq: num_frequencies
          samples_per_data_set: n2k_samples_per_data_set
          sub_integration_ntime: n2k_sub_integration_ntime
          voltage_name: voltage
          rfi_RFImask_name: rfi_RFImask
          n2k_correlation_name: n2k_correlation
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: n2k_correlation_buffer
          out_buf: host_n2k_correlation_buffer

run_n2k_counts:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_expanded_mask_ringbuffer: host_pl_expanded_mask_ringbuffer
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_n2k_counts_buffer: host_n2k_counts_buffer
        commands:
        - name: cudaPL1bitCorrelator
          num_elements: num_dishes * num_polarizations
          num_local_freq: num_frequencies
          samples_per_data_set: n2k_samples_per_data_set
          sub_integration_ntime: n2k_sub_integration_ntime
          pl_expanded_mask_name: pl_expanded_mask
          rfi_RFImask_name: rfi_RFImask
          n2k_counts_name: n2k_counts
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: n2k_counts_buffer
          out_buf: host_n2k_counts_buffer

# Output buffers

host_n2k_correlation_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: sizeof_int32 * num_components * n2k_correlation_triangle_size * num_frequencies * n2k_num_subintegrations
    metadata_pool: main_pool

host_n2k_counts_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: sizeof_int32 * n2k_counts_triangle_size * num_frequencies * n2k_num_subintegrations
    metadata_pool: main_pool


#hex_dump:
#    kotekan_stage: hexDump
#    in_buf: network_input_buffer_transpose
#    len: 128



