##########################################
#
# dpdk_test_32_ports_2_numa_nodes.yaml
#
#
# Author: Andre Renard
# Modified by Calvin
##########################################
---
type: config
# Logging level can be one of:
# OFF, ERROR, WARN, INFO, DEBUG, DEBUG2 (case insensitive)
# Note DEBUG and DEBUG2 require a build with (-DCMAKE_BUILD_TYPE=Debug)
log_level: DEBUG

buffer_depth: 16
baseband_buffer_depth: 20 # Calvin: this is a guess from cpu_record.yaml
samples_per_data_set: 16384 # Calvin: 16384 to speed things up Andre: 49152
num_elements: 128  #Andre: 128
num_local_freq: 4 #Calvin: 4 to speed things up Andre: 128

cpu_affinity: [4,20,5,21,12,18,13,19] #[0,1,2,3,4,5,6,7] #Andre: [4, 20, 5, 21, 12, 18, 13, 29] Did Andre mean 19 for the last one?

# Pool
main_pool:
    kotekan_metadata_pool: chimeMetadata
    num_metadata_objects: 128 * buffer_depth

# Buffers
gpu_input_buffers:
    num_frames: buffer_depth
    frame_size: samples_per_data_set * num_elements * num_local_freq
    metadata_pool: main_pool
    gpu_input_buffer_0:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_1:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_2:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_3:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_4:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_5:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_6:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_7:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_8:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_9:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_10:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_11:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_12:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_13:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_14:
        kotekan_buffer: standard
        numa_node: 0
    gpu_input_buffer_15:
        kotekan_buffer: standard
        numa_node: 0
        # Calvin: removed all the streams going to the other CPU node
        #    gpu_input_buffer_16:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_17:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_18:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_19:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_20:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_21:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_22:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_23:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_24:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_25:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_26:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_27:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_28:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_29:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_30:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    gpu_input_buffer_31:
        #        kotekan_buffer: standard
        #        numa_node: 1


lost_samples_buffers:
    num_frames: buffer_depth
    frame_size: samples_per_data_set
    metadata_pool: main_pool
    lost_samples_buffer_0:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_1:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_2:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_3:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_4:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_5:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_6:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_7:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_8:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_9:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_10:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_11:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_12:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_13:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_14:
        kotekan_buffer: standard
        numa_node: 0
    lost_samples_buffer_15:
        kotekan_buffer: standard
        numa_node: 0
        # Calvin: removed all streams going to second node
        #    lost_samples_buffer_16:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_17:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_18:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_19:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_20:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_21:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_22:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_23:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_24:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_25:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_26:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_27:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_28:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_29:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_30:
        #        kotekan_buffer: standard
        #        numa_node: 1
        #    lost_samples_buffer_31:
        #        kotekan_buffer: standard
        #        numa_node: 1

dpdk:
    kotekan_stage: dpdkCore
    # Format is index = lcore, value = cpu core
    #lcore_cpu_map: [0,16,1,17,2,18,3,19,8,24,9,25,10,26,11,27]
    lcore_cpu_map: [0,12,1,13,2,14,3,15,8,20,9,21,10,22,11,23] #Calvin's guess for Intel Xeon 4116, which has 12 physical (24 virtual=logical cores)
    num_mem_channels: 1
    master_lcore_cpu: 2 # two logical=virtual cores per physical core
    fpga_packet_size: 4680
    alignment: samples_per_data_set
    mbuf_cache_size: 250
    # Format is index = lcore, value = array of port IDs
    # so [[0,1],[2,3]] maps lcore 0 to service ports 0 and 1,
    # and lcore 1 to service ports 2 and 3.
    lcore_port_map: # use 16/24 virtual cores
        - [0,1]
        - [2,3]
        - [4,5]
        - [6,7]
        - [8,9]
        - [10,11]
        - [12,13]
        - [14,15]
          # - [16,17]
          # - [18,19]
          # - [20,21]
          # - [22,23]
          # - [24,25]
          # - [26,27]
          # - [28,29]
          # - [30,31]
    # One handler must be given per port on the system.
    handlers:
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_0
          lost_samples_buf: lost_samples_buffer_0
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_1
          lost_samples_buf: lost_samples_buffer_1
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_2
          lost_samples_buf: lost_samples_buffer_2
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_3
          lost_samples_buf: lost_samples_buffer_3
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_4
          lost_samples_buf: lost_samples_buffer_4
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_5
          lost_samples_buf: lost_samples_buffer_5
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_6
          lost_samples_buf: lost_samples_buffer_6
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_7
          lost_samples_buf: lost_samples_buffer_7
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_8
          lost_samples_buf: lost_samples_buffer_8
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_9
          lost_samples_buf: lost_samples_buffer_9
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_10
          lost_samples_buf: lost_samples_buffer_10
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_11
          lost_samples_buf: lost_samples_buffer_11
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_12
          lost_samples_buf: lost_samples_buffer_12
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_13
          lost_samples_buf: lost_samples_buffer_13
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_14
          lost_samples_buf: lost_samples_buffer_14
        - dpdk_handler: iceBoardStandard
          out_buf: gpu_input_buffer_15
          lost_samples_buf: lost_samples_buffer_15
          #dpdk_handler: iceBoardStandard
          #out_buf: gpu_input_buffer_16
          #          lost_samples_buf: lost_samples_buffer_16
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_17
          #          lost_samples_buf: lost_samples_buffer_17
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_18
          #          lost_samples_buf: lost_samples_buffer_18
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_19
          #          lost_samples_buf: lost_samples_buffer_19
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_20
          #          lost_samples_buf: lost_samples_buffer_20
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_21
          #          lost_samples_buf: lost_samples_buffer_21
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_22
          #          lost_samples_buf: lost_samples_buffer_22
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_23
          #          lost_samples_buf: lost_samples_buffer_23
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_24
          #          lost_samples_buf: lost_samples_buffer_24
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_25
          #          lost_samples_buf: lost_samples_buffer_25
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_26
          #          lost_samples_buf: lost_samples_buffer_26
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_27
          #          lost_samples_buf: lost_samples_buffer_27
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_28
          #          lost_samples_buf: lost_samples_buffer_28
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_29
          #          lost_samples_buf: lost_samples_buffer_29
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_30
          #          lost_samples_buf: lost_samples_buffer_30
          #        - dpdk_handler: iceBoardStandard
          #          out_buf: gpu_input_buffer_31
          #          lost_samples_buf: lost_samples_buffer_31

          # baseband:
          #     max_dump_samples: 400000
          #     num_frames_buffer: baseband_buffer_depth - 10
          #     frame_size: samples_per_data_set * num_elements
          #     metadata_pool: main_pool
          #     base_dir: /home/masuilab/cpu-record-config/
          #     write_throttle: 0
          #     kotekan_stage: basebandReadout
          #     in_buf: gpu_input_buffer_0
          # zero_samples:
          #      zero_0:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_0
          #          lost_samples_buf: lost_samples_buffer_0
          #      zero_1:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_1
          #          lost_samples_buf: lost_samples_buffer_1
          #      zero_2:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_2
          #          lost_samples_buf: lost_samples_buffer_2
          #      zero_3:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_3
          #          lost_samples_buf: lost_samples_buffer_3
          #      zero_4:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_4
          #          lost_samples_buf: lost_samples_buffer_4
          #      zero_5:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_5
          #          lost_samples_buf: lost_samples_buffer_5
          #      zero_6:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_6
          #          lost_samples_buf: lost_samples_buffer_6
          #      zero_7:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_7
          #          lost_samples_buf: lost_samples_buffer_7
          #      zero_8:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_8
          #          lost_samples_buf: lost_samples_buffer_8
          #      zero_9:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_9
          #          lost_samples_buf: lost_samples_buffer_9
          #      zero_10:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_10
          #          lost_samples_buf: lost_samples_buffer_10
          #      zero_11:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_11
          #          lost_samples_buf: lost_samples_buffer_11
          #      zero_12:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_12
          #          lost_samples_buf: lost_samples_buffer_12
          #      zero_13:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_13
          #          lost_samples_buf: lost_samples_buffer_13
          #      zero_14:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_14
          #          lost_samples_buf: lost_samples_buffer_14
          #      zero_15:
          #          kotekan_stage: zeroSamples
          #          out_buf: gpu_input_buffer_15
          #          lost_samples_buf: lost_samples_buffer_15
# Calvin: removed all streams going to second node
#     zero_16:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_16
#         lost_samples_buf: lost_samples_buffer_16
#     zero_17:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_17
#         lost_samples_buf: lost_samples_buffer_17
#     zero_18:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_18
#         lost_samples_buf: lost_samples_buffer_18
#     zero_19:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_19
#         lost_samples_buf: lost_samples_buffer_19
#     zero_20:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_20
#         lost_samples_buf: lost_samples_buffer_20
#     zero_21:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_21
#         lost_samples_buf: lost_samples_buffer_21
#     zero_22:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_22
#         lost_samples_buf: lost_samples_buffer_22
#     zero_23:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_23
#         lost_samples_buf: lost_samples_buffer_23
#     zero_24:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_24
#         lost_samples_buf: lost_samples_buffer_24
#     zero_25:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_25
#         lost_samples_buf: lost_samples_buffer_25
#     zero_26:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_26
#         lost_samples_buf: lost_samples_buffer_26
#     zero_27:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_27
#         lost_samples_buf: lost_samples_buffer_27
#     zero_28:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_28
#         lost_samples_buf: lost_samples_buffer_28
#     zero_29:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_29
#         lost_samples_buf: lost_samples_buffer_29
#     zero_30:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_30
#         lost_samples_buf: lost_samples_buffer_30
#     zero_31:
#         kotekan_stage: zeroSamples
#         out_buf: gpu_input_buffer_31
#         lost_samples_buf: lost_samples_buffer_31
