##########################################
#
# merged_beam_file_read.yaml
#
# Configuration for tracking extra beam 
# receivers' merged data file reading
#
# Author: Jing Luo
#
##########################################
---
type: config
log_level: debug2
cpu_affinity: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
samples_per_data_set: 49152
num_pol: 2
buffer_depth: 105
freq_id_metadata_size: 72
raw_frames_per_merged_frame: 6

telescope:
  name: CHIMETelescope
  require_gps: true
  query_gps: true
  require_frequency_map: true
  query_frequency_map: true
  allow_default_frequency_map: false

dataset_manager:
  use_dataset_broker: false

merged_beam_metadata_pool:
  kotekan_metadata_pool: MergedBeamMetadata
  num_metadata_objects: 4096

beam_metadata_pool:
  kotekan_metadata_pool: BeamMetadata
  num_metadata_objects: 4096

merged_beam_buffer:
  kotekan_buffer: standard
  num_frames: 2048
  metadata_pool: merged_beam_metadata_pool
  frame_size: (samples_per_data_set * num_pol + freq_id_metadata_size) * raw_frames_per_merged_frame

beam_recv_buffer:
  kotekan_buffer: standard
  num_frames: 2048
  metadata_pool: beam_metadata_pool
  frame_size: samples_per_data_set * num_pol

raw_file_read:
  base_dir: /drives/scratch/test_beam_raw
  file_name: bass_merged_beam_data
  read0:
    kotekan_stage: rawFileRead
    file_ext: raw
    buf: merged_beam_buffer

merged_beam_split:
  kotekan_stage: splitMergedBeamBuffer
  in_buf: merged_beam_buffer
  out_buf: beam_recv_buffer

beam_inspect:
  kotekan_stage: BeamInspect
  in_buf: beam_recv_buffer
