.buffers {
  fill: rgba(25, 179, 177, 0.452);
}

.stages {
  fill: rgba(188, 95, 106, 0.452);
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  opacity: 0.7;
  marker-end: url(#end-arrow);
}

.buffer_labels {
  fill: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 15;
}

.stage_labels {
  fill: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 15;
}

.background {
  stroke: white;
  stroke-width: 1px;
  fill: white;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #67734de7;
  padding-top: 20px;
  overflow-x: auto;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #d7d8ac;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  overflow-x: auto;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #dfe5e1;
}

/* Main content */
.main {
  margin-right: 200px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #f7b733;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: table;
  overflow-x: auto;
  background-color: #ffffff93;
  padding-left: 8px;
}

p {
  margin: 2px;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: max-content;
  max-width: 100%;
  border-spacing: 0;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
