# -*-yaml-*-

# CHORD F-Engine setup

################################################################################

# CHORD:
#             quantity   frequency    east-west   east-west   north-south   north-south
# 
#   angular resolution     300 MHz     7.2 mrad       0.41°      4.9 mrad         0.28°
#   angular resolution    1500 MHz     1.4 mrad       0.08°      1.0 mrad         0.06°
#        field of view     300 MHz   158.6 mrad       9.09°    117.6 mrad         6.74°
#        field of view    1500 MHz    31.7 mrad       1.82°     23.5 mrad         1.35°

# Dishes

num_dishes_x: 24
num_dishes_y: 24
num_dishes: 512

# Telescope

telescope:
    name: CHORDTelescope
    require_gps: false
    origin_itrs_lat_deg: +49.300000
    origin_itrs_lon_deg: -119.600000
    grid_x_axis: [1.0, 0.0, 0.0]
    grid_y_axis: [0.0, 1.0, 0.0]
    dish_elev_axis: [1.0, 0.0, 0.0]
    dish_vert_axis: [0.0, 0.0, 1.0]
    dish_coelev_deg: 0.0

    require_eop: false

    dish_grid_size_x: num_dishes_x
    dish_grid_size_y: num_dishes_y
    dish_separation_x_m: 6.3
    dish_separation_y_m: 8.5

    dish_inputs:
{% for y in range(0, 24) %}
{%   for x in range(0, 24) %}
{%     if x+24*y < 512 %}
    - dish_idx: {{x+24*y}}
      grid_x_idx: {{x}}
      grid_y_idx: {{y}}
      feed_pos_disp_m: [0.0, 0.0, 0.0]
      coelev_disp_deg: 0.0
      type: ArrayDish
      label: CHORD-{{"ABCDEFGHIJKLMNOPQRSTUVWXYZ"[y]}}{{"{:02d}".format(x+1)}}
{%     endif %}
{%   endfor %}
{% endfor %}

    sampling_rate_MHz: adc_frequency / 1.0e+6
    fft_length: num_samples_per_frame
    min_science_freq_MHz: 1536 * adc_frequency / num_samples_per_frame / 1.0e+6
    max_science_freq_MHz: 7679 * adc_frequency / num_samples_per_frame / 1.0e+6

################################################################################

# ADC

adc_frequency: 3.2e+9           # [Hz]

################################################################################

# PFB

num_taps: 4
num_samples_per_frame: 16384

frequency_pool_rank: 0
frequency_pool_size: 128

num_frequencies: 48       # 8192 frequencies / 128 gpus * 75% coverage
# The frequency channels we keep.
#     A channel's frequency is   freq = channel * adc_frequency / num_samples_per_frame
#     Note that   channel = freq = 0   is the DC channel.
#     Channel 1536 has 300 MHz for CHORD, channel 7680 has 1500 MHz.
#     There are 5.12 channels per MHz, with a channel width of 195312.5 Hz.
# (These particular channels were chosen with a fixed step size between these channel boundaries.)
frequency_channels: [
    1536, 1664, 1792, 1920, 2048, 2176, 2304, 2432, 2560, 2688, 2816, 2944, 3072, 3200, 3328, 3456,
    3584, 3712, 3840, 3968, 4096, 4224, 4352, 4480, 4608, 4736, 4864, 4992, 5120, 5248, 5376, 5504,
    5632, 5760, 5888, 6016, 6144, 6272, 6400, 6528, 6656, 6784, 6912, 7040, 7168, 7296, 7424, 7552,
]

################################################################################

# Input frames

num_times: 8192                 # frame length is 8192 * 5.12 us = 41.94304 ms

################################################################################

# Buffers

host_bf_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: int8
    extents: [num_polarizations, num_dishes]
    quantity_name: "bf_mask"
    dimnames: ["P", "D"]
    dimscalings: [1, 1]
    metadata_pool: main_pool

host_pl_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: uint1x8
    extents: [num_times / 2 / 64, num_frequencies / 4, num_polarizations, num_dishes / 8, 64 / 8]
    quantity_name: "pl_mask"
    dimnames: ["T2hi64", "F4", "P", "D8", "T2lo64"]
    dimscalings: [128, 4, 1, 8, 16]
    metadata_pool: main_pool
host_pl_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
    metadata_pool: main_pool

host_pl_expanded_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: uint1x8
    extents: [num_times / 64, num_frequencies, num_polarizations, num_dishes / 8, 64 / 8]
    quantity_name: "pl_mask_exp"
    dimnames: ["Thi64", "F", "P", "D8", "Tlo64"]
    dimscalings: [64, 1, 1, 8, 8]
    metadata_pool: main_pool
host_pl_expanded_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * num_frequencies * (num_times / 64)
    metadata_pool: main_pool

host_voltage_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: int4x2_swapped_withoffset
    extents: [num_times, num_frequencies, num_polarizations, num_dishes]
    quantity_name: "E"
    dimnames: ["T", "F", "P", "D"]
    dimscalings: [1, 1, 1, 1]
    metadata_pool: main_pool
host_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_dishes * num_polarizations * num_frequencies * num_times
    metadata_pool: main_pool

################################################################################

# Stages

run_invent_bf_mask:
    kotekan_stage: inventBFMask
    bf_mask: host_bf_mask_buffer

run_invent_pl_mask:
    kotekan_stage: inventPLMask
    pl_mask: host_pl_mask_buffer

# run_send_bf_mask:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_bf_mask_buffer: host_bf_mask_buffer
#         out_buffers:
#         commands:
#         - name: cudaInputData
#           do_once: true
#           in_buf: host_bf_mask_buffer
#           gpu_mem: bf_mask_buffer
#         - name: cudaSyncInput

run_send_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_buffer: host_pl_mask_buffer
        out_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_pl_mask_buffer
          signal_buf: host_pl_mask_ringbuffer
          gpu_mem_output: pl_mask_buffer

run_expand_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        out_buffers:
            host_pl_expanded_mask_ringbuffer: host_pl_expanded_mask_ringbuffer
        commands:
        - name: cudaPLMaskExpander
          pl_mask_name: pl_mask
          pl_expanded_mask_name: pl_expanded_mask

run_send_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_buffer: host_voltage_buffer
        out_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: num_dishes * num_polarizations * num_frequencies * num_times
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_voltage_buffer
          signal_buf: host_voltage_ringbuffer
          gpu_mem_output: voltage_buffer
