# -*-yaml-*-

# CHIME F-Engine setup

################################################################################

# CHIME:
#             quantity   frequency   east-west   east-west   north-south   north-south
# 
#   angular resolution     400 MHz    9.4 mrad       0.54°      7.5 mrad         0.43°
#   angular resolution     800 MHz    4.7 mrad       0.27°      3.7 mrad         0.21°
#        field of view     400 MHz   37.5 mrad       2.15°   1918.7 mrad       109.93°
#        field of view     800 MHz   18.7 mrad       1.07°    959.3 mrad        54.97°

# Dishes

num_dishes_x: 4
num_dishes_y: 256
num_dishes: 1024

# Telescope

telescope:
    name: CHORDTelescope
    require_gps: false
    origin_itrs_lat_deg: +49.32070922 # centre of the array
    origin_itrs_lon_deg: -119.62367743
    grid_x_axis: [1.0, 0.0, 0.0]
    grid_y_axis: [0.0, 1.0, 0.0]
    dish_elev_axis: [1.0, 0.0, 0.0]
    dish_vert_axis: [0.0, 0.0, 1.0]
    dish_coelev_deg: 0.0

    eop_updatable_config: "/earth_rotation_data"

    dish_separation_x_m: 20.0
    dish_separation_y_m: 0.390625

    dish_inputs:
    {% for x in range(0, 4) %}
    {% for y in range(0, 256) %}
    - dish_idx: {{y+256*x}}
      grid_x_idx: {{x}}
      grid_y_idx: {{y}}
      feed_pos_disp_m: [0.0, 0.0, 0.0]
      coelev_disp_deg: 0.0
      type: ArrayDish
      label: CHIME-{{"ABCD"[x]}}{{"{:04d}".format(y+1)}}
    {% endfor %}
    {% endfor %}
dummy_declaration_to_eat_jinja2_white_space_keep_this_right_after_the_telescope_definition:

earth_rotation_data:
    kotekan_update_endpoint: json
    earth_orientation_parameter_table:
    - {time_inst_ns: 0, delta_UT1_inst: 0.0, x_pm: 0.0, y_pm: 0.0}

################################################################################

# ADC

adc_frequency: 1.6e+9           # [Hz]

################################################################################

# PFB

num_taps: 4
num_samples_per_frame: 4096

frequency_pool_rank: 0
frequency_pool_size: 64

num_frequencies: 16       # 2048 frequencies / 64 gpus * 50% coverage
# The frequency channels we keep.
#     A channel's frequency is   freq = channel * adc_frequency / num_samples_per_frame
#     Note that   channel = freq = 0   is the DC channel.
#     Channel 1024 has 400 MHz for CHIME, channel 2048 has 800 MHz.
#     There are 2.56 channels per MHz, with a channel width of 390625 Hz.
# (These particular channels were chosen with a fixed step size between these channel boundaries.)
frequency_channels: [
    1024, 1088, 1152, 1216, 1280, 1344, 1408, 1472, 1536, 1600, 1664, 1728, 1792, 1856, 1920, 1984,
]

################################################################################

# Input frames

num_times: 16384                # frame length is 16384 * 2.56 us = 20.97152 ms

################################################################################

# Buffers

host_bf_mask_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_int8 * num_dishes * num_polarizations
    metadata_pool: main_pool

host_pl_mask_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
    metadata_pool: main_pool
host_pl_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
    metadata_pool: main_pool

host_pl_expanded_mask_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: (64 / 8) * (num_dishes / 8) * num_polarizations * num_frequencies * (num_times / 64)
    metadata_pool: main_pool
host_pl_expanded_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * num_frequencies * (num_times / 64)
    metadata_pool: main_pool

use_chime_input_buffers: true
host_voltage_buffers:
  num_frames: buffer_depth
  frame_size: num_dishes * num_polarizations * num_times
  metadata_pool: main_pool
  numa_0:
    {%- for id in range(16) %}  # num_frequencies = 16
    host_voltage_buffer_{{ id }}:
      kotekan_buffer: standard
    {%- endfor %}

host_voltage_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: num_dishes * num_polarizations * num_frequencies * num_times
    metadata_pool: main_pool
host_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_dishes * num_polarizations * num_frequencies * num_times
    metadata_pool: main_pool

# host_expected_bb_beams_buffer:
#     kotekan_buffer: standard
#     num_frames: buffer_depth
#     frame_size: num_times * num_polarizations * num_frequencies * bb_num_beams
#     metadata_pool: main_pool
# 
# host_expected_frb1_beams_buffer:
#     kotekan_buffer: standard
#     num_frames: buffer_depth
#     frame_size: sizeof_float16 * frb_num_beams_P * frb_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
#     metadata_pool: main_pool

################################################################################

# Stages

# run_send_bf_mask:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_bf_mask_buffer: host_bf_mask_buffer
#         out_buffers:
#         commands:
#         - name: cudaInputData
#           do_once: true
#           in_buf: host_bf_mask_buffer
#           gpu_mem: bf_mask_buffer
#         - name: cudaSyncInput

run_send_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_buffer: host_pl_mask_buffer
        out_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_pl_mask_buffer
          signal_buf: host_pl_mask_ringbuffer
          gpu_mem_output: pl_mask_buffer

run_expand_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        out_buffers:
            host_pl_expanded_mask_ringbuffer: host_pl_expanded_mask_ringbuffer
        commands:
        - name: cudaPLMaskExpander
          pl_mask_name: pl_mask
          pl_expanded_mask_name: pl_expanded_mask

run_send_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            # host_voltage_buffer: host_voltage_buffer
            {%- for id in range(16) %} # num_frequencies = 16
            host_voltage_buffer_{{ id }}: host_voltage_buffer_{{ id }}
            {%- endfor %}
        out_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
        commands:
        - name: cudaCopyNToRingbuffer
          ring_buffer_size: buffer_depth * input_size
          in_bufs: 
            {%- for id in range(16) %} # num_frequencies = 16
            - host_voltage_buffer_{{ id }}
            {%- endfor %}
          signal_buf: host_voltage_ringbuffer
          gpu_mem_output: voltage_buffer
