# -*-yaml-*-

# HIRAX F-Engine setup

################################################################################

# HIRAX:
#             quantity   frequency    east-west   east-west   north-south   north-south
# 
#   angular resolution     400 MHz     7.2 mrad       0.41°      5.5 mrad         0.32°
#   angular resolution     800 MHz     3.6 mrad       0.21°      2.8 mrad         0.16°
#        field of view     400 MHz   115.3 mrad       6.61°     88.2 mrad         5.05°
#        field of view     800 MHz    57.7 mrad        3.3°     44.1 mrad         2.53°

# Dishes

num_dishes_x: 16
num_dishes_y: 16
num_dishes: 256     # TODO: 128
input_order: CHORDBeamformer

# Telescope

telescope:
    name: CHORDTelescope
    require_gps: false
    origin_itrs_lat_deg: –30.6885 # TODO: check
    origin_itrs_lon_deg: +21.5689 # TODO: check
    grid_x_axis: [1.0, 0.0, 0.0]
    grid_y_axis: [0.0, 1.0, 0.0]
    dish_elev_axis: [1.0, 0.0, 0.0]
    dish_vert_axis: [0.0, 0.0, 1.0]
    dish_coelev_deg: 0.0

    require_eop: false

    dish_grid_size_x: num_dishes_x
    dish_grid_size_y: num_dishes_y
    dish_separation_x_m: 6.3    # TODO: check
    dish_separation_y_m: 8.5    # TODO: check

    dish_inputs:
{% for y in range(0, 16) %}
{%   for x in range(0, 16) %}
    - dish_idx: {{x+16*y}}
      grid_x_idx: {{x}}
      grid_y_idx: {{y}}
      feed_pos_disp_m: [0.0, 0.0, 0.0]
      coelev_disp_deg: 0.0
      type: ArrayDish
      label: HIRAX-{{"ABCDEFGHIJKLMNOPQRSTUVWXYZ"[y]}}{{"{:02d}".format(x+1)}}
{%   endfor %}
{% endfor %}

################################################################################

# ADC

adc_frequency: 1.6e+9           # [Hz]

################################################################################

# PFB

num_taps: 4
num_samples_per_frame: 4096

frequency_pool_rank: 0
frequency_pool_size: 16

num_frequencies: 64        # 2048 frequencies / 16 gpus * 50% coverage
# The frequency channels we keep.
#     A channel's frequency is   freq = channel * adc_frequency / num_samples_per_frame
#     Note that   channel = freq = 0   is the DC channel.
#     Channel 1024 has 400 MHz for CHIME, channel 2048 has 800 MHz.
#     There are 2.56 channels per MHz, with a channel width of 390625 Hz.
# (These particular channels were chosen with a fixed step size between these channel boundaries.)
frequency_channels: [
    1025, 1041, 1057, 1073, 1089, 1105, 1121, 1137, 1153, 1169, 1185, 1201, 1217, 1233, 1249, 1265,
    1281, 1297, 1313, 1329, 1345, 1361, 1377, 1393, 1409, 1425, 1441, 1457, 1473, 1489, 1505, 1521,
    1537, 1553, 1569, 1585, 1601, 1617, 1633, 1649, 1665, 1681, 1697, 1713, 1729, 1745, 1761, 1777,
    1793, 1809, 1825, 1841, 1857, 1873, 1889, 1905, 1921, 1937, 1953, 1969, 1985, 2001, 2017, 2033,
]

################################################################################

# Input frames

num_times: 16384                # frame length is 16384 * 2.56 us = 41.94304 ms

################################################################################

# Buffers

host_bf_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: int8
    extents: [num_polarizations, num_dishes]
    quantity_name: "bf_mask"
    dimnames: ["P", "D"]
    dimscalings: [1, 1]
    metadata_pool: main_pool

host_pl_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: uint1x8
    extents: [num_times / 2 / 64, num_frequencies / 4, num_polarizations, num_dishes / 8, 64 / 8]
    quantity_name: "pl_mask"
    dimnames: ["T2hi64", "F4", "P", "D8", "T2lo64"]
    dimscalings: [128, 4, 1, 8, 16]
    metadata_pool: main_pool
host_pl_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
    metadata_pool: main_pool

host_pl_expanded_mask_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: uint1x8
    extents: [num_times / 64, num_frequencies, num_polarizations, num_dishes / 8, 64 / 8]
    quantity_name: "pl_mask_exp"
    dimnames: ["Thi64", "F", "P", "D8", "Tlo64"]
    dimscalings: [64, 1, 1, 8, 8]
    metadata_pool: main_pool
host_pl_expanded_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * num_frequencies * (num_times / 64)
    metadata_pool: main_pool

host_voltage_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: int4x2_swapped_withoffset
    extents: [num_times, num_frequencies, num_polarizations, num_dishes]
    quantity_name: "E"
    dimnames: ["T", "F", "P", "D"]
    dimscalings: [1, 1, 1, 1]
    metadata_pool: main_pool
host_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_dishes * num_polarizations * num_frequencies * num_times
    metadata_pool: main_pool

################################################################################

# Stages

run_invent_bf_mask:
    kotekan_stage: inventBFMask
    bf_mask: host_bf_mask_buffer

run_invent_pl_mask:
    kotekan_stage: inventPLMask
    pl_mask: host_pl_mask_buffer

# run_send_bf_mask:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_bf_mask_buffer: host_bf_mask_buffer
#         out_buffers:
#         commands:
#         - name: cudaInputData
#           do_once: true
#           in_buf: host_bf_mask_buffer
#           gpu_mem: bf_mask_buffer
#         - name: cudaSyncInput

run_send_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_buffer: host_pl_mask_buffer
        out_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: (64 / 8) * (num_dishes / 8) * num_polarizations * (num_frequencies / 4) * (num_times / 2 / 64)
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_pl_mask_buffer
          signal_buf: host_pl_mask_ringbuffer
          gpu_mem_output: pl_mask_buffer

run_expand_pl_mask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_mask_ringbuffer: host_pl_mask_ringbuffer
        out_buffers:
            host_pl_expanded_mask_ringbuffer: host_pl_expanded_mask_ringbuffer
        commands:
        - name: cudaPLMaskExpander
          pl_mask_name: pl_mask
          pl_expanded_mask_name: pl_expanded_mask

run_send_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_buffer: host_voltage_buffer
        out_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: num_dishes * num_polarizations * num_frequencies * num_times
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_voltage_buffer
          signal_buf: host_voltage_ringbuffer
          gpu_mem_output: voltage_buffer
