# -*-yaml-*-

# CHARTS FRB beamformer setup

################################################################################

# cudaQuantize requires `frb_num_output_times` to be a multiple of 256
frb_downsampling_factor: 320
frb_num_output_times: 256
frb1_num_beams_P: 2 * num_dishes_x
frb1_num_beams_Q: 2 * num_dishes_y

frb2_num_beams_x: 8
frb2_num_beams_y: 8
frb2_num_beams: frb2_num_beams_x * frb2_num_beams_y
frb2_beam_separation_x: 40.0 / 8
frb2_beam_separation_y: 40.0 / 8

# The FRB2 beamforming weights are valid for this many input samples. This must be a multiple of
# frb_num_output_times * frb_downsampling_factor, the number of input samples the FRB2 beamformer
# processes per kernel invocation. The weights matrices are large and are recalculated on the GPU, so
# keep this long: about a minute here, and possibly much longer (e.g. 24 h) in production.
frb2_weights_lifetime_in_samples: 220 * frb_num_output_times * frb_downsampling_factor # 60.0746667 s
# Number of weights matrices in the GPU ring buffer. Each takes
# 2 * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb2_num_beams * frb1_num_beams_Q * frb1_num_beams_P
# bytes.
frb2_weights_ring_depth: 2

frb_chunk_size: 256

# The FRB1 beamforming weights are valid for this many input samples (one second). The U = 32
# FRB1 kernel processes multiples of 32 * lcm(32, 320 / 32) = 5120 input samples, so this must
# be a multiple of 5120.
frb1_phase_lifetime_in_samples: 20 * num_times

################################################################################

# Buffers

# Phases

# One frame is one set of weights, covering frb1_phase_lifetime_in_samples input samples.
host_frb1_U32_phase_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: float16
    extents: [1, upchan_U32_max_num_channels * 32, num_polarizations, num_dishes_y, num_dishes_x, num_components]
    quantity_name: "W"
    dimnames: ["TW", "Fbar", "P", "dishN", "dishM", "C"]
    dimscalings: [frb1_phase_lifetime_in_samples, 1, 1, 1, 1, 1]
    metadata_pool: main_pool
host_frb1_U32_phase_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * sizeof_float16 * upchan_U32_max_num_channels * 32 * num_polarizations * num_dishes_y * num_dishes_x * num_components
    metadata_pool: main_pool

# One frame of positions per frb2_weights_lifetime_in_samples input samples
host_frb2_beam_positions_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: float32
    extents: [frb2_num_beams, 2]
    quantity_name: "frb2_beam_positions"
    dimnames: ["R", "X/Y"]
    dimscalings: [1, 1]
    metadata_pool: main_pool

host_frb2_beam_ids_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    value_type: uint64
    extents: [frb2_num_beams]
    quantity_name: "frb2_beam_ids"
    dimnames: ["R"]
    dimscalings: [1]
    metadata_pool: main_pool

# The weights are calculated on the GPU, directly into this ring buffer, one matrix
# [Fbar, R, beamQ, beamP] per frb2_weights_lifetime_in_samples input samples. There is no host copy.
host_frb2_weights_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: frb2_weights_ring_depth * sizeof_float16 * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb2_num_beams * frb1_num_beams_Q * frb1_num_beams_P
    metadata_pool: main_pool

# Beams

host_frb1_beams_ringbuffer:
    kotekan_buffer: ring
    num_frames: buffer_depth
    ring_buffer_size: buffer_depth * sizeof_float16 * frb1_num_beams_P * frb1_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
    metadata_pool: main_pool

#TODO host_frb3_beams_buffer:
#TODO     kotekan_buffer: standard
#TODO     num_frames: buffer_depth
#TODO     # `1/2` because the output is of type `int4`
#TODO     frame_size: frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times / 2
#TODO     metadata_pool: main_pool
#TODO 
#TODO host_frb3_beams_offsetscale_buffer:
#TODO     kotekan_buffer: standard
#TODO     num_frames: buffer_depth
#TODO     # the output is quantized in chunks of `frb_chunk_size`
#TODO     frame_size: sizeof_float16 * 2 * frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times / frb_chunk_size
#TODO     metadata_pool: main_pool

################################################################################

# Stages

# FRB 1

run_set_frb1_U32_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 32
    upchan_min_channel: upchan_U32_min_channel
    upchan_max_channel: upchan_U32_max_channel
    upchan_max_num_channels: upchan_U32_max_num_channels
    frb1_phase: host_frb1_U32_phase_buffer
    # The weight stream starts at the sequence number of the first voltage frame
    metadata_source: host_voltage_buffer

# Send the weights to their GPU ringbuffer. One set of weights covers
# frb1_phase_lifetime_in_samples input samples, so this runs far less often than run_frb1_U32.
run_send_frb1_U32_phase:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_frb1_U32_phase_buffer: host_frb1_U32_phase_buffer
        out_buffers:
            host_frb1_U32_phase_ringbuffer: host_frb1_U32_phase_ringbuffer
        commands:
        - name: cudaCopyToRingbuffer
          input_size: sizeof_float16 * upchan_U32_max_num_channels * 32 * num_polarizations * num_dishes_y * num_dishes_x * num_components
          ring_buffer_size: buffer_depth * input_size
          in_buf: host_frb1_U32_phase_buffer
          signal_buf: host_frb1_U32_phase_ringbuffer
          gpu_mem_output: frb1_U32_phase_buffer

run_frb1_U32:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U32_voltage_ringbuffer: host_upchan_U32_voltage_ringbuffer
            host_frb1_U32_phase_ringbuffer: host_frb1_U32_phase_ringbuffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaFRBBeamformer_charts_U32
          voltage_name: upchan_U32_voltage
          frb_phase_name: frb1_U32_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U32_max_output_channel - upchan_U32_min_output_channel
          Fbar_out_min: upchan_U32_min_output_channel
          Fbar_out_max: upchan_U32_max_output_channel

# FRB 2 and 3

run_set_frb2_beams:
    kotekan_stage: setFRBBeams
    metadata_source: host_voltage_buffer
    out_pos_buf: host_frb2_beam_positions_buffer
    out_id_buf: host_frb2_beam_ids_buffer
    time_downsampling_fpga: frb2_weights_lifetime_in_samples
    mode: grid_degrees
    num_beams: frb2_num_beams
    num_x: frb2_num_beams_x
    num_y: frb2_num_beams_y
    x_min: -frb2_beam_separation_x * (frb2_num_beams_x - 1) / 2.0
    x_max: frb2_beam_separation_x * (frb2_num_beams_x - 1) / 2.0
    y_min: -frb2_beam_separation_y * (frb2_num_beams_y - 1) / 2.0
    y_max: frb2_beam_separation_y * (frb2_num_beams_y - 1) / 2.0

# Calculate the weights on the GPU, one matrix per positions frame. This runs once per
# frb2_weights_lifetime_in_samples, so a single command instance suffices. The frequencies come
# from the voltage buffer's metadata.
run_calc_frb2_weights:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        buffer_depth: 1
        in_buffers:
            host_frb2_beam_positions_buffer: host_frb2_beam_positions_buffer
            host_voltage_buffer: host_voltage_buffer
        out_buffers:
            host_frb2_weights_ringbuffer: host_frb2_weights_ringbuffer
        commands:
        - name: cudaInputData
          in_buf: host_frb2_beam_positions_buffer
          gpu_mem: frb2_beam_positions_buffer
        - name: cudaSyncInput
        - name: cudaCalcFRB2Weights
          frb2_num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
          frb2_beam_positions_name: frb2_beam_positions
          frb2_weights_name: frb2_weights
          metadata_source: host_voltage_buffer

run_frb23:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
            host_frb2_weights_ringbuffer: host_frb2_weights_ringbuffer
        out_buffers:
{%- if not benchmark %}
            host_frb2_beams_buffer: host_frb2_beams_buffer
{%- endif %}
            #TODO host_frb3_beams_buffer: host_frb3_beams_buffer
            #TODO host_frb3_beams_offsetscale_buffer: host_frb3_beams_offsetscale_buffer
        commands:
        - name: cudaFRBBeamReformer
          frb1_max_num_frequencies: upchan_all_max_num_output_channels
          frb1_max_num_times: buffer_depth * frb_num_output_times
          frb2_num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
          frb2_num_times: frb_num_output_times
          in_signal: host_frb1_beams_ringbuffer
          frb1_beams_name: frb1_beams
          frb2_weights_name: frb2_weights
          frb2_beams_name: frb2_beams
        #TODO - name: cudaQuantize4
        #TODO   # the output is quantized in chunks of `frb_chunk_size`
        #TODO   num_beams: frb2_num_beams
        #TODO   num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
        #TODO   num_times: frb_num_output_times
        #TODO   stddev_cutoff: 3.0
        #TODO   gpu_mem_input: frb2_beams
        #TODO   gpu_mem_output: frb3_beams
        #TODO   gpu_mem_offsetscale: frb3_beams_offsetscale
        - name: cudaSyncOutput
{%- if not benchmark %}
        - name: cudaOutputData
          gpu_mem: frb2_beams_buffer
          out_buf: host_frb2_beams_buffer
{%- endif %}
        #TODO - name: cudaOutputData
        #TODO   gpu_mem: frb3_beams_buffer
        #TODO   out_buf: host_frb3_beams_buffer
        #TODO - name: cudaOutputData
        #TODO   gpu_mem: frb3_beams_offsetscale_buffer
        #TODO   out_buf: host_frb3_beams_offsetscale_buffer
