# -*-yaml-*-

# CHORD FRB beamformer setup

################################################################################

# cudaQuantize requires `frb_num_output_times` to be a multiple of 256
frb_downsampling_factor: 192
frb_num_output_times: 256
frb1_num_beams_P: 2 * num_dishes_x
frb1_num_beams_Q: 2 * num_dishes_y
frb1_input_scale: 1.0 / 32

frb2_num_beams_x: 64
frb2_num_beams_y: 64
frb2_num_beams: frb2_num_beams_x * frb2_num_beams_y
frb2_beam_separation_x: 5.0 / 64
frb2_beam_separation_y: 5.0 / 64

frb_chunk_size: 256

################################################################################

# Buffers

# Phases

{% for U in [1, 2, 4, 8, 16, 32, 64] %}
host_frb1_U{{ U }}_phase_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: float16
    extents: [upchan_U{{ U }}_max_num_channels * {{ U }}, num_polarizations, num_dishes_y, num_dishes_x, num_components]
    quantity_name: "W"
    dimnames: ["Fbar", "P", "dishN", "dishM", "C"]
    dimscalings: [1, 1, 1, 1, 1]
    metadata_pool: main_pool
{% endfor %}

host_frb2_beam_positions_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: float32
    extents: [frb2_num_beams, 2]
    quantity_name: "frb2_beam_positions"
    dimnames: ["R", "X/Y"]
    dimscalings: [1, 1]
    metadata_pool: main_pool

host_frb2_beam_ids_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: uint64
    extents: [frb2_num_beams]
    quantity_name: "frb2_beam_ids"
    dimnames: ["R"]
    dimscalings: [1]
    metadata_pool: main_pool

host_frb2_weights_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: float16
    extents: [upchan_all_max_output_channel - upchan_all_min_output_channel, frb2_num_beams, frb1_num_beams_Q, frb1_num_beams_P]
    quantity_name: "W2"
    dimnames: ["Fbar", "R", "beamQ", "beamP"]
    dimscalings: [1, 1, 1, 1]
    metadata_pool: main_pool

# Beams

host_frb1_beams_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    # frame_size: sizeof_float16 * frb1_num_beams_P * frb1_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
    value_type: float16
    extents: [frb_num_output_times, upchan_all_max_num_output_channels, frb1_num_beams_Q, frb1_num_beams_P]
    quantity_name: "I"
    dimnames: ["Ttilde", "Fbar", "beamQ", "beamP"]
    dimscalings: [frb_downsampling_factor, 1, 1, 1]
    metadata_pool: main_pool
host_frb1_beams_ringbuffer:
    kotekan_buffer: ring
    num_frames: buffer_depth
    ring_buffer_size: buffer_depth * sizeof_float16 * frb1_num_beams_P * frb1_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
    metadata_pool: main_pool

host_frb2_beams_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    # frame_size: sizeof_float16 * frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times
    value_type: float16
    extents: [1, frb2_num_beams, upchan_all_max_output_channel - upchan_all_min_output_channel, frb_num_output_times]
    quantity_name: "I2"
    dimnames: ["Ttildehi256", "R", "Fbar", "Ttildelo256"]
    dimscalings: [frb_downsampling_factor * 256, 1, 1, frb_downsampling_factor]
    metadata_pool: main_pool

host_frb3_beams_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    # `1/2` because the output is of type `int4`
    # frame_size: frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times / 2
    value_type: int4x2
    extents: [1, frb2_num_beams, upchan_all_max_output_channel - upchan_all_min_output_channel, frb_num_output_times / 2]
    quantity_name: "I3"
    dimnames: ["Ttildehi256", "R", "Fbar", "Ttildelo256"]
    dimscalings: [frb_downsampling_factor * 256, 1, 1, frb_downsampling_factor * 2]
    metadata_pool: main_pool

host_frb3_beams_offsetscale_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    # the output is quantized in chunks of `frb_chunk_size`
    # frame_size: sizeof_float16 * 2 * frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times / frb_chunk_size
    value_type: float16
    extents: [1, frb2_num_beams, upchan_all_max_output_channel - upchan_all_min_output_channel, 2]
    quantity_name: "I3_offsetscale"
    dimnames: ["Ttilde256", "R", "Fbar", "offset/scale"]
    dimscalings: [frb_downsampling_factor * 256, 1, 1, 1]
    metadata_pool: main_pool

################################################################################

# Stages

# FRB 1

{% for U in [1, 2, 4, 8, 16, 32, 64] %}
run_set_frb1_U{{ U }}_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: {{ U }}
    upchan_min_channel: upchan_U{{ U }}_min_channel
    upchan_max_channel: upchan_U{{ U }}_max_channel
    upchan_max_num_channels: upchan_U{{ U }}_max_num_channels
    frb1_phase: host_frb1_U{{ U }}_phase_buffer
{% endfor %}

# The U1 stage is different, it reads the input voltages and not upchannelized voltages
run_frb1_U1:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_frb1_U1_phase_buffer: host_frb1_U1_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U1_phase_buffer
          gpu_mem: frb1_U1_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_chord_U1
          voltage_name: voltage
          frb_phase_name: frb1_U1_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: upchan_U1_min_channel
          Fbar_in_max: upchan_U1_max_channel
          Fbar_out_min: upchan_U1_min_output_channel
          Fbar_out_max: upchan_U1_max_output_channel

{% for U in [2, 4, 8, 16, 32, 64] %}
run_frb1_U{{ U }}:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U{{ U }}_voltage_ringbuffer: host_upchan_U{{ U }}_voltage_ringbuffer
            host_frb1_U{{ U }}_phase_buffer: host_frb1_U{{ U }}_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U{{ U }}_phase_buffer
          gpu_mem: frb1_U{{ U }}_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_chord_U{{ U }}
          voltage_name: upchan_U{{ U }}_voltage
          frb_phase_name: frb1_U{{ U }}_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U{{ U }}_max_output_channel - upchan_U{{ U }}_min_output_channel
          Fbar_out_min: upchan_U{{ U }}_min_output_channel
          Fbar_out_max: upchan_U{{ U }}_max_output_channel
{% endfor %}

# FRB 2 and 3

run_set_frb2_beams:
    kotekan_stage: setFRBBeams
    out_pos_buf: host_frb2_beam_positions_buffer
    out_id_buf: host_frb2_beam_ids_buffer
    mode: grid_degrees
    num_beams: frb2_num_beams
    num_x: frb2_num_beams_x
    num_y: frb2_num_beams_y
    x_min: -frb2_beam_separation_x * (frb2_num_beams_x - 1) / 2.0
    x_max: frb2_beam_separation_x * (frb2_num_beams_x - 1) / 2.0
    y_min: -frb2_beam_separation_y * (frb2_num_beams_y - 1) / 2.0
    y_max: frb2_beam_separation_y * (frb2_num_beams_y - 1) / 2.0

run_calc_frb2_weights:
    kotekan_stage: cudaCalcFRB2Weights
    frb2_num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
    frb2_beam_positions: host_frb2_beam_positions_buffer
    frb2_weights: host_frb2_weights_buffer

run_frb23:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
            host_frb2_weights_buffer: host_frb2_weights_buffer
        out_buffers:
            host_frb2_beams_buffer: host_frb2_beams_buffer
            host_frb3_beams_buffer: host_frb3_beams_buffer
            host_frb3_beams_offsetscale_buffer: host_frb3_beams_offsetscale_buffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb2_weights_buffer
          gpu_mem: frb2_weights_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamReformer
          frb1_max_num_frequencies: upchan_all_max_num_output_channels
          frb1_max_num_times: buffer_depth * frb_num_output_times
          frb2_num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
          frb2_num_times: frb_num_output_times
          in_signal: host_frb1_beams_ringbuffer
          frb1_beams_name: frb1_beams
          frb2_weights_name: frb2_weights
          frb2_beams_name: frb2_beams
        - name: cudaQuantize4
          # the output is quantized in chunks of `frb_chunk_size`
          num_beams: frb2_num_beams
          num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
          num_times: frb_num_output_times
          stddev_cutoff: 3.0
          gpu_mem_input: frb2_beams
          gpu_mem_output: frb3_beams
          gpu_mem_offsetscale: frb3_beams_offsetscale
        - name: cudaSyncOutput
        - name: cudaOutputData
          # TODO: Don't do this in production
          gpu_mem: frb2_beams_buffer
          out_buf: host_frb2_beams_buffer
        - name: cudaOutputData
          gpu_mem: frb3_beams_buffer
          out_buf: host_frb3_beams_buffer
        - name: cudaOutputData
          gpu_mem: frb3_beams_offsetscale_buffer
          out_buf: host_frb3_beams_offsetscale_buffer
