# -*-yaml-*-

# CHORD pathfinder FRB beamformer setup

################################################################################

frb_downsampling_factor: 192 / upchannelization_factor
# cudaQuantize requires `frb_num_output_times` to be a multiple of 256
frb_num_output_times: 256
# TODO: remove
frb_num_beams_P: 2 * num_dishes_x
frb_num_beams_Q: 2 * num_dishes_y
frb1_input_scale: 1.0 / 1024

#frb2_num_beams_x: 32
#frb2_num_beams_y: 32
#frb2_num_beams: frb2_num_beams_x * frb2_num_beams_y
#frb2_beam_separation_x: 0.020
#frb2_beam_separation_y: 0.015

# dustin hack placeholder
frb2_num_beams: 1024
frb2_beam_max_radius: 0.6
# radians: ~129 deg
frb2_beam_angle_step: 2.2514
frb2_n_per_node: 200

host_frb2_beam_positions_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float32 * 2 * frb2_num_beams
    metadata_pool: main_pool

host_frb2_beam_ids_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_int16 * frb2_num_beams
    metadata_pool: main_pool

frb_chunk_size: 256

################################################################################

# FRB Search node targets

# frb_search_nodes: [
#   {'ip': '10.0.0.42',
#    'port': 9000,
#    'beamset': 0,
#    'beam_index_min': 0,
#    'beam_index_max': 200,
#   },
#   {'ip': '10.0.0.43',
#    'port': 9000,
#    'beamset': 1,
#    'beam_index_min': 200,
#    'beam_index_max': 400,
#   }
# ]
frb_search_nodes: [
  {'ip': '127.0.0.1',
   'port': 5000,
   'beamset': 42,
   'beam_index_min': 0,
   'beam_index_max': 200,
  },
]
################################################################################


# Buffers

# Phases

host_frb1_U1_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U1_max_num_channels * 1 * num_polarizations
    metadata_pool: main_pool

host_frb1_U2_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U2_max_num_channels * 2 * num_polarizations
    metadata_pool: main_pool

host_frb1_U4_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U4_max_num_channels * 4 * num_polarizations
    metadata_pool: main_pool

host_frb1_U8_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U8_max_num_channels * 8 * num_polarizations
    metadata_pool: main_pool

host_frb1_U16_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U16_max_num_channels * 16 * num_polarizations
    metadata_pool: main_pool

host_frb1_U32_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U32_max_num_channels * 32 * num_polarizations
    metadata_pool: main_pool

host_frb1_U64_phase_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * num_components * num_dishes_y * num_dishes_x * upchan_U64_max_num_channels * 64 * num_polarizations
    metadata_pool: main_pool

host_frb2_weights_buffer:
    kotekan_buffer: standard
    num_frames: 1
    frame_size: sizeof_float16 * (2 * num_dishes_y) * (2 * num_dishes_x) * (frb2_num_beams) * (upchan_all_max_output_channel - upchan_all_min_output_channel)
    metadata_pool: main_pool

# Beams

host_frb1_beams_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: sizeof_float16 * frb_num_beams_P * frb_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
    metadata_pool: main_pool
host_frb1_beams_ringbuffer:
    kotekan_buffer: ring
    num_frames: buffer_depth
    ring_buffer_size: buffer_depth * sizeof_float16 * frb_num_beams_P * frb_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
    metadata_pool: main_pool

host_frb2_beams_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: sizeof_float16 * frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times
    metadata_pool: main_pool

host_frb3_beams_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    # `1/2` because the output is of type `int4`
    frame_size: frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times / 2
    metadata_pool: main_pool

host_frb3_beams_meanstd_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    # the output is quantized in chunks of `frb_chunk_size`
    frame_size: sizeof_float16 * 2 * frb2_num_beams * (upchan_all_max_output_channel - upchan_all_min_output_channel) * frb_num_output_times / frb_chunk_size
    metadata_pool: main_pool

################################################################################

# Stages

# FRB 1

run_set_frb1_U1_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 1
    upchan_min_channel: upchan_U1_min_channel
    upchan_max_channel: upchan_U1_max_channel
    upchan_max_num_channels: upchan_U1_max_num_channels
    frb1_phase: host_frb1_U1_phase_buffer

run_set_frb1_U2_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 2
    upchan_min_channel: upchan_U2_min_channel
    upchan_max_channel: upchan_U2_max_channel
    upchan_max_num_channels: upchan_U2_max_num_channels
    frb1_phase: host_frb1_U2_phase_buffer

run_set_frb1_U4_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 4
    upchan_min_channel: upchan_U4_min_channel
    upchan_max_channel: upchan_U4_max_channel
    upchan_max_num_channels: upchan_U4_max_num_channels
    frb1_phase: host_frb1_U4_phase_buffer

run_set_frb1_U8_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 8
    upchan_min_channel: upchan_U8_min_channel
    upchan_max_channel: upchan_U8_max_channel
    upchan_max_num_channels: upchan_U8_max_num_channels
    frb1_phase: host_frb1_U8_phase_buffer

run_set_frb1_U16_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 16
    upchan_min_channel: upchan_U16_min_channel
    upchan_max_channel: upchan_U16_max_channel
    upchan_max_num_channels: upchan_U16_max_num_channels
    frb1_phase: host_frb1_U16_phase_buffer

run_set_frb1_U32_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 32
    upchan_min_channel: upchan_U32_min_channel
    upchan_max_channel: upchan_U32_max_channel
    upchan_max_num_channels: upchan_U32_max_num_channels
    frb1_phase: host_frb1_U32_phase_buffer

run_set_frb1_U64_phase:
    kotekan_stage: setFRB1Phase
    upchan_factor: 64
    upchan_min_channel: upchan_U64_min_channel
    upchan_max_channel: upchan_U64_max_channel
    upchan_max_num_channels: upchan_U64_max_num_channels
    frb1_phase: host_frb1_U64_phase_buffer

run_frb1_U1:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_frb1_U1_phase_buffer: host_frb1_U1_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U1_phase_buffer
          gpu_mem: frb1_U1_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U1
          voltage_name: voltage
          frb_phase_name: frb1_U1_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: upchan_U1_min_channel
          Fbar_in_max: upchan_U1_max_channel
          Fbar_out_min: upchan_U1_min_output_channel
          Fbar_out_max: upchan_U1_max_output_channel

run_frb1_U2:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U2_voltage_ringbuffer: host_upchan_U2_voltage_ringbuffer
            host_frb1_U2_phase_buffer: host_frb1_U2_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U2_phase_buffer
          gpu_mem: frb1_U2_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U2
          voltage_name: upchan_U2_voltage
          frb_phase_name: frb1_U2_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U2_max_output_channel - upchan_U2_min_output_channel
          Fbar_out_min: upchan_U2_min_output_channel
          Fbar_out_max: upchan_U2_max_output_channel

run_frb1_U4:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U4_voltage_ringbuffer: host_upchan_U4_voltage_ringbuffer
            host_frb1_U4_phase_buffer: host_frb1_U4_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U4_phase_buffer
          gpu_mem: frb1_U4_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U4
          voltage_name: upchan_U4_voltage
          frb_phase_name: frb1_U4_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U4_max_output_channel - upchan_U4_min_output_channel
          Fbar_out_min: upchan_U4_min_output_channel
          Fbar_out_max: upchan_U4_max_output_channel

run_frb1_U8:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U8_voltage_ringbuffer: host_upchan_U8_voltage_ringbuffer
            host_frb1_U8_phase_buffer: host_frb1_U8_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U8_phase_buffer
          gpu_mem: frb1_U8_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U8
          voltage_name: upchan_U8_voltage
          frb_phase_name: frb1_U8_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U8_max_output_channel - upchan_U8_min_output_channel
          Fbar_out_min: upchan_U8_min_output_channel
          Fbar_out_max: upchan_U8_max_output_channel

run_frb1_U16:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U16_voltage_ringbuffer: host_upchan_U16_voltage_ringbuffer
            host_frb1_U16_phase_buffer: host_frb1_U16_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U16_phase_buffer
          gpu_mem: frb1_U16_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U16
          voltage_name: upchan_U16_voltage
          frb_phase_name: frb1_U16_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U16_max_output_channel - upchan_U16_min_output_channel
          Fbar_out_min: upchan_U16_min_output_channel
          Fbar_out_max: upchan_U16_max_output_channel

run_frb1_U32:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U32_voltage_ringbuffer: host_upchan_U32_voltage_ringbuffer
            host_frb1_U32_phase_buffer: host_frb1_U32_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U32_phase_buffer
          gpu_mem: frb1_U32_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U32
          voltage_name: upchan_U32_voltage
          frb_phase_name: frb1_U32_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U32_max_output_channel - upchan_U32_min_output_channel
          Fbar_out_min: upchan_U32_min_output_channel
          Fbar_out_max: upchan_U32_max_output_channel

run_frb1_U64:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U64_voltage_ringbuffer: host_upchan_U64_voltage_ringbuffer
            host_frb1_U64_phase_buffer: host_frb1_U64_phase_buffer
        out_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb1_U64_phase_buffer
          gpu_mem: frb1_U64_phase_buffer
        - name: cudaSyncInput
        - name: cudaFRBBeamformer_pathfinder_U64
          voltage_name: upchan_U64_voltage
          frb_phase_name: frb1_U64_phase
          frb_beamgrid_name: frb1_beams
          Fbar_in_min: 0
          Fbar_in_max: upchan_U64_max_output_channel - upchan_U64_min_output_channel
          Fbar_out_min: upchan_U64_min_output_channel
          Fbar_out_max: upchan_U64_max_output_channel

# FRB 2 and 3

run_calc_frb2_weights:
    # kotekan_stage: calcFRB2Weights
    kotekan_stage: calcFRB2Weights_Seth
    frb2_num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
    frb2_beam_positions: host_frb2_beam_positions_buffer
    frb2_beam_ids: host_frb2_beam_ids_buffer
    frb2_weights: host_frb2_weights_buffer

run_frb23:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
            host_frb2_weights_buffer: host_frb2_weights_buffer
        out_buffers:
            host_frb2_beams_buffer: host_frb2_beams_buffer
            host_frb3_beams_buffer: host_frb3_beams_buffer
            host_frb3_beams_meanstd_buffer: host_frb3_beams_meanstd_buffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_frb2_weights_buffer
          gpu_mem: frb2_weights_buffer
        - name: cudaFRBBeamReformer
          max_num_local_freq: upchan_all_max_num_output_channels
          num_local_freq: upchan_all_max_output_channel - upchan_all_min_output_channel
          beam_grid_size_P: frb_num_beams_P
          beam_grid_size_Q: frb_num_beams_Q
          num_beams: frb2_num_beams
          samples_per_data_set: frb_num_output_times
          in_signal: host_frb1_beams_ringbuffer
          gpu_mem_beamgrid: frb1_beams
          gpu_mem_weights: frb2_weights
          gpu_mem_beamout: frb2_beams
        - name: cudaQuantize
          # the output is quantized in chunks of `frb_chunk_size`
          num_beams: frb2_num_beams
          num_frequencies: upchan_all_max_output_channel - upchan_all_min_output_channel
          num_times: frb_num_output_times
          gpu_mem_input: frb2_beams
          gpu_mem_output: frb3_beams
          gpu_mem_meanstd: frb3_beams_meanstd
        - name: cudaSyncOutput
        - name: cudaOutputData
          # TODO: Don't do this in production
          gpu_mem: frb2_beams_buffer
          out_buf: host_frb2_beams_buffer
        - name: cudaOutputData
          gpu_mem: frb3_beams_buffer
          out_buf: host_frb3_beams_buffer
        - name: cudaOutputData
          gpu_mem: frb3_beams_meanstd_buffer
          out_buf: host_frb3_beams_meanstd_buffer

# Network send

send_frb:
    kotekan_stage: pirateFrbSend
    intensity: host_frb3_beams_buffer
    offset_scale: host_frb3_beams_meanstd_buffer
    beam_positions: host_frb2_beam_positions_buffer
    beam_ids: host_frb2_beam_ids_buffer

