# -*-yaml-*-

# CHIME read initial conditions

################################################################################

# Stages

{% set frequency_channels = [63, 127, 191, 255, 319, 383, 447, 511, 575, 639, 703, 767, 831, 895, 959, 1023,] %}

read_data:
{% for id in range(16) %}   # num_frequencies = 16
    read_voltage_{{ id }}:
        kotekan_stage: hdf5FileReadSingleFile
        file_name: voltage
        frequency_channels: [{{ frequency_channels[id] }}]
        combine_dishes_and_polarizations: true
        transpose_frequency_and_time: true
        out_buf: host_voltage_buffer_{{ id }}
{% endfor %}
