# -*-yaml-*-

# CHORD n2k setup

################################################################################

# Correlator setup
n2k_sub_integration_ntime: 8192
# n2k_samples_per_data_set = max(num_times, n2k_sub_integration_ntime)
n2k_samples_per_data_set: 8192

################################################################################

# Buffers

n2k_num_subintegrations: n2k_samples_per_data_set / n2k_sub_integration_ntime
n2k_blocksize: 16
n2k_num_elements: num_dishes * num_polarizations
n2k_linear_num_blocks: (n2k_num_elements + 1) / n2k_blocksize
n2k_triangle_num_blocks: n2k_linear_num_blocks * (n2k_linear_num_blocks + 1) / 2
n2k_triangle_size: n2k_blocksize * n2k_blocksize * n2k_triangle_num_blocks

host_n2k_correlation_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: sizeof_int32 * num_components * n2k_triangle_size * num_frequencies * n2k_num_subintegrations
    metadata_pool: main_pool

################################################################################

# Stages

run_n2k:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer_in: host_voltage_ringbuffer
        out_buffers:
            host_n2k_correlation_buffer_out: host_n2k_correlation_buffer
        commands:
        - name: cudaCorrelator
          num_elements: num_dishes * num_polarizations
          num_local_freq: num_frequencies
          samples_per_data_set: n2k_samples_per_data_set
          sub_integration_ntime: n2k_sub_integration_ntime
          in_signal: host_voltage_ringbuffer_in
          gpu_mem_voltage: voltage_buffer
          gpu_mem_correlation_triangle: n2k_correlation_matrix_buffer
        - name: cudaSyncOutput
        - name: cudaOutputData
          gpu_mem: n2k_correlation_matrix_buffer
          out_buf: host_n2k_correlation_buffer_out
