# -*-yaml-*-

# Test output

################################################################################

# Stages

run_recv_rfi_S012:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_S012_ringbuffer: host_rfi_S012_ringbuffer
        out_buffers:
            host_rfi_S012_buffer: host_rfi_S012_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_S012_ringbuffer
          gpu_mem_input: rfi_S012_buffer
          output_size: sizeof_uint64 * num_dishes * num_polarizations * 3 * num_frequencies * rfi_num_times
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_S012_buffer

run_recv_rfi_S012tilde:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_S012tilde_ringbuffer: host_rfi_S012tilde_ringbuffer
        out_buffers:
            host_rfi_S012tilde_buffer: host_rfi_S012tilde_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_S012tilde_ringbuffer
          gpu_mem_input: rfi_S012tilde_buffer
          output_size: sizeof_uint64 * 3 * num_frequencies * rfi_num_times
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_S012tilde_buffer

run_recv_rfi_S012bar:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_S012bar_ringbuffer: host_rfi_S012bar_ringbuffer
        out_buffers:
            host_rfi_S012bar_buffer: host_rfi_S012bar_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_S012bar_ringbuffer
          gpu_mem_input: rfi_S012bar_buffer
          output_size: sizeof_uint64 * num_dishes * num_polarizations * 3 * num_frequencies * rfi_num_times_bar
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_S012bar_buffer

run_recv_rfi_SKtilde:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_SKtilde_ringbuffer: host_rfi_SKtilde_ringbuffer
        out_buffers:
            host_rfi_SKtilde_buffer: host_rfi_SKtilde_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_SKtilde_ringbuffer
          gpu_mem_input: rfi_SKtilde_buffer
          output_size: sizeof_float32 * 3 * num_frequencies * rfi_num_times
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_SKtilde_buffer

run_recv_rfi_RFImask:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_RFImask_ringbuffer: host_rfi_RFImask_ringbuffer
        out_buffers:
            host_rfi_RFImask_buffer: host_rfi_RFImask_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_RFImask_ringbuffer
          gpu_mem_input: rfi_RFImask_buffer
          output_size: num_frequencies * num_times / 8
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_RFImask_buffer

run_recv_rfi_SKbar:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_SKbar_ringbuffer: host_rfi_SKbar_ringbuffer
        out_buffers:
            host_rfi_SKbar_buffer: host_rfi_SKbar_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_SKbar_ringbuffer
          gpu_mem_input: rfi_SKbar_buffer
          output_size: sizeof_float32 * num_dishes * num_polarizations * 3 * num_frequencies * rfi_num_times_bar
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_SKbar_buffer

run_recv_rfi_SKbarbartilde:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_rfi_SKbartilde_ringbuffer: host_rfi_SKbartilde_ringbuffer
        out_buffers:
            host_rfi_SKbartilde_buffer: host_rfi_SKbartilde_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_rfi_SKbartilde_ringbuffer
          gpu_mem_input: rfi_SKbartilde_buffer
          output_size: sizeof_float32 * 3 * num_frequencies * rfi_num_times_bar
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_rfi_SKbartilde_buffer

# run_recv_upchan_U2_voltage:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_upchan_U2_voltage_ringbuffer: host_upchan_U2_voltage_ringbuffer
#         out_buffers:
#             host_upchan_U2_voltage_buffer: host_upchan_U2_voltage_buffer
#         commands:
#         - name: cudaCopyFromRingbuffer
#           host_signal: host_upchan_U2_voltage_ringbuffer
#           gpu_mem_input: upchan_U2_voltage_buffer
#           output_size: num_dishes * num_polarizations * (upchan_U2_max_num_channels * 2) * (num_times / 2)
#           ring_buffer_size: buffer_depth * output_size
#           out_buf: host_upchan_U2_voltage_buffer
# 
# run_recv_upchan_U4_voltage:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_upchan_U4_voltage_ringbuffer: host_upchan_U4_voltage_ringbuffer
#         out_buffers:
#             host_upchan_U4_voltage_buffer: host_upchan_U4_voltage_buffer
#         commands:
#         - name: cudaCopyFromRingbuffer
#           host_signal: host_upchan_U4_voltage_ringbuffer
#           gpu_mem_input: upchan_U4_voltage_buffer
#           output_size: num_dishes * num_polarizations * (upchan_U4_max_num_channels * 4) * (num_times / 4)
#           ring_buffer_size: buffer_depth * output_size
#           out_buf: host_upchan_U4_voltage_buffer

run_recv_upchan_U8_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U8_voltage_ringbuffer: host_upchan_U8_voltage_ringbuffer
        out_buffers:
            host_upchan_U8_voltage_buffer: host_upchan_U8_voltage_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_upchan_U8_voltage_ringbuffer
          gpu_mem_input: upchan_U8_voltage_buffer
          output_size: num_dishes * num_polarizations * (upchan_U8_max_num_channels * 8) * (num_times / 8)
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_upchan_U8_voltage_buffer

run_recv_upchan_U16_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U16_voltage_ringbuffer: host_upchan_U16_voltage_ringbuffer
        out_buffers:
            host_upchan_U16_voltage_buffer: host_upchan_U16_voltage_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_upchan_U16_voltage_ringbuffer
          gpu_mem_input: upchan_U16_voltage_buffer
          output_size: num_dishes * num_polarizations * (upchan_U16_max_num_channels * 16) * (num_times / 16)
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_upchan_U16_voltage_buffer

run_recv_upchan_U32_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U32_voltage_ringbuffer: host_upchan_U32_voltage_ringbuffer
        out_buffers:
            host_upchan_U32_voltage_buffer: host_upchan_U32_voltage_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_upchan_U32_voltage_ringbuffer
          gpu_mem_input: upchan_U32_voltage_buffer
          output_size: num_dishes * num_polarizations * (upchan_U32_max_num_channels * 32) * (num_times / 32)
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_upchan_U32_voltage_buffer

# run_recv_upchan_U64_voltage:
#     gpu_0:
#         kotekan_stage: cudaProcess
#         gpu_id: 0
#         in_buffers:
#             host_upchan_U64_voltage_ringbuffer: host_upchan_U64_voltage_ringbuffer
#         out_buffers:
#             host_upchan_U64_voltage_buffer: host_upchan_U64_voltage_buffer
#         commands:
#         - name: cudaCopyFromRingbuffer
#           host_signal: host_upchan_U64_voltage_ringbuffer
#           gpu_mem_input: upchan_U64_voltage_buffer
#           output_size: num_dishes * num_polarizations * (upchan_U64_max_num_channels * 64) * (num_times / 64)
#           ring_buffer_size: buffer_depth * output_size
#           out_buf: host_upchan_U64_voltage_buffer

run_recv_frb1_beams:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_frb1_beams_ringbuffer: host_frb1_beams_ringbuffer
        out_buffers:
            host_frb1_beams_buffer: host_frb1_beams_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_frb1_beams_ringbuffer
          gpu_mem_input: frb1_beams_buffer
          output_size: sizeof_float16 * frb_num_beams_P * frb_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_frb1_beams_buffer

# Output

write_data:
    # base_dir:
    write_dish_positions:
        kotekan_stage: hdf5FileWrite
        in_buf: host_dish_positions_buffer
        file_name: dish_positions
    write_bf_mask:
        kotekan_stage: hdf5FileWrite
        in_buf: host_bf_mask_buffer
        file_name: bf_mask
    write_pl_mask:
        kotekan_stage: hdf5FileWrite
        in_buf: host_pl_mask_buffer
        file_name: pl_mask
    write_voltage:
        kotekan_stage: hdf5FileWrite
        in_buf: host_voltage_buffer
        file_name: voltage
    write_rfi_S012:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_S012_buffer
        file_name: rfi_S012
    write_rfi_S012tilde:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_S012tilde_buffer
        file_name: rfi_S012tilde
    write_rfi_S012bar:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_S012bar_buffer
        file_name: rfi_S012bar
    write_rfi_SKtilde:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_SKtilde_buffer
        file_name: rfi_SKtilde
    write_rfi_RFImask:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_RFImask_buffer
        file_name: rfi_RFImask
    write_rfi_SKbar:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_SKbar_buffer
        file_name: rfi_SKbar
    write_rfi_SKbartilde:
        kotekan_stage: hdf5FileWrite
        in_buf: host_rfi_SKbartilde_buffer
        file_name: rfi_SKbartilde
    write_n2k_correlation:
        kotekan_stage: hdf5FileWrite
        in_buf: host_n2k_correlation_buffer
        file_name: n2k_correlation
    write_bb_beam_positions:
        kotekan_stage: hdf5FileWrite
        in_buf: host_bb_beam_positions_buffer
        file_name: bb_beam_positions
    write_bb_phase:
        kotekan_stage: hdf5FileWrite
        in_buf: host_bb_phase_buffer
        file_name: bb_phase
    write_bb_shift:
        kotekan_stage: hdf5FileWrite
        in_buf: host_bb_shift_buffer
        file_name: bb_shift
    # write_expected_bb_beams:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_expected_bb_beams_buffer
    #     file_name: expected_bb_beams
    write_bb_beams:
        kotekan_stage: hdf5FileWrite
        in_buf: host_bb_beams_buffer
        file_name: bb_beams
    # write_upchan_U2_gain:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_upchan_U2_gain_buffer
    #     file_name: upchan_U2_gain
    # write_upchan_U4_gain:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_upchan_U4_gain_buffer
    #     file_name: upchan_U4_gain
    write_upchan_U8_gain:
        kotekan_stage: hdf5FileWrite
        in_buf: host_upchan_U8_gain_buffer
        file_name: upchan_U8_gain
    write_upchan_U16_gain:
        kotekan_stage: hdf5FileWrite
        in_buf: host_upchan_U16_gain_buffer
        file_name: upchan_U16_gain
    write_upchan_U32_gain:
        kotekan_stage: hdf5FileWrite
        in_buf: host_upchan_U32_gain_buffer
        file_name: upchan_U32_gain
    # write_upchan_U64_gain:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_upchan_U64_gain_buffer
    #     file_name: upchan_U64_gain
    # write_upchan_U2_voltage:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_upchan_U2_voltage_buffer
    #     file_name: upchan_U2_voltage
    # write_upchan_U4_voltage:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_upchan_U4_voltage_buffer
    #     file_name: upchan_U4_voltage
    write_upchan_U8_voltage:
        kotekan_stage: hdf5FileWrite
        in_buf: host_upchan_U8_voltage_buffer
        file_name: upchan_U8_voltage
    write_upchan_U16_voltage:
        kotekan_stage: hdf5FileWrite
        in_buf: host_upchan_U16_voltage_buffer
        file_name: upchan_U16_voltage
    write_upchan_U32_voltage:
        kotekan_stage: hdf5FileWrite
        in_buf: host_upchan_U32_voltage_buffer
        file_name: upchan_U32_voltage
    # write_upchan_U64_voltage:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_upchan_U64_voltage_buffer
    #     file_name: upchan_U64_voltage
    # write_frb1_U1_phase:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_frb1_U1_phase_buffer
    #     file_name: frb1_U1_phase
    # write_frb1_U2_phase:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_frb1_U2_phase_buffer
    #     file_name: frb1_U2_phase
    # write_frb1_U4_phase:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_frb1_U4_phase_buffer
    #     file_name: frb1_U4_phase
    write_frb1_U8_phase:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb1_U8_phase_buffer
        file_name: frb1_U8_phase
    write_frb1_U16_phase:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb1_U16_phase_buffer
        file_name: frb1_U16_phase
    write_frb1_U32_phase:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb1_U32_phase_buffer
        file_name: frb1_U32_phase
    # write_frb1_U64_phase:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_frb1_U64_phase_buffer
    #     file_name: frb1_U64_phase
    write_frb2_phase:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb2_phase_buffer
        file_name: frb2_phase
    # write_expected_frb1_beams:
    #     kotekan_stage: hdf5FileWrite
    #     in_buf: host_expected_frb1_beams_buffer
    #     file_name: expected_frb1_beams
    write_frb1_beams:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb1_beams_buffer
        file_name: frb1_beams
    write_frb2_beams:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb2_beams_buffer
        file_name: frb2_beams
    write_frb3_beams:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb3_beams_buffer
        file_name: frb3_beams
    write_frb3_beams_meanstd:
        kotekan_stage: hdf5FileWrite
        in_buf: host_frb3_beams_meanstd_buffer
        file_name: frb3_beams_meanstd
        max_frames: 4
