# -*-yaml-*-

# Test output

################################################################################

# Stages

#TODO run_recv_upchan_U2_voltage:
#TODO     gpu_0:
#TODO         kotekan_stage: cudaProcess
#TODO         gpu_id: 0
#TODO         in_buffers:
#TODO             host_upchan_U2_voltage_ringbuffer_in: host_upchan_U2_voltage_ringbuffer
#TODO         out_buffers:
#TODO             host_upchan_U2_voltage_buffer_out: host_upchan_U2_voltage_buffer
#TODO         commands:
#TODO         - name: cudaCopyFromRingbuffer
#TODO           host_signal: host_upchan_U2_voltage_ringbuffer_in
#TODO           gpu_mem_input: upchan_U2_voltage_buffer
#TODO           output_size: num_dishes * num_polarizations * (upchan_U2_max_num_channels * 2) * (num_times / 2)
#TODO           ring_buffer_size: buffer_depth * output_size
#TODO           out_buf: host_upchan_U2_voltage_buffer_out
#TODO 
#TODO run_recv_upchan_U4_voltage:
#TODO     gpu_0:
#TODO         kotekan_stage: cudaProcess
#TODO         gpu_id: 0
#TODO         in_buffers:
#TODO             host_upchan_U4_voltage_ringbuffer_in: host_upchan_U4_voltage_ringbuffer
#TODO         out_buffers:
#TODO             host_upchan_U4_voltage_buffer_out: host_upchan_U4_voltage_buffer
#TODO         commands:
#TODO         - name: cudaCopyFromRingbuffer
#TODO           host_signal: host_upchan_U4_voltage_ringbuffer_in
#TODO           gpu_mem_input: upchan_U4_voltage_buffer
#TODO           output_size: num_dishes * num_polarizations * (upchan_U4_max_num_channels * 4) * (num_times / 4)
#TODO           ring_buffer_size: buffer_depth * output_size
#TODO           out_buf: host_upchan_U4_voltage_buffer_out

run_recv_upchan_U8_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U8_voltage_ringbuffer_in: host_upchan_U8_voltage_ringbuffer
        out_buffers:
            host_upchan_U8_voltage_buffer_out: host_upchan_U8_voltage_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_upchan_U8_voltage_ringbuffer_in
          gpu_mem_input: upchan_U8_voltage_buffer
          output_size: num_dishes * num_polarizations * (upchan_U8_max_num_channels * 8) * (num_times / 8)
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_upchan_U8_voltage_buffer_out

run_recv_upchan_U16_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U16_voltage_ringbuffer_in: host_upchan_U16_voltage_ringbuffer
        out_buffers:
            host_upchan_U16_voltage_buffer_out: host_upchan_U16_voltage_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_upchan_U16_voltage_ringbuffer_in
          gpu_mem_input: upchan_U16_voltage_buffer
          output_size: num_dishes * num_polarizations * (upchan_U16_max_num_channels * 16) * (num_times / 16)
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_upchan_U16_voltage_buffer_out

run_recv_upchan_U32_voltage:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_upchan_U32_voltage_ringbuffer_in: host_upchan_U32_voltage_ringbuffer
        out_buffers:
            host_upchan_U32_voltage_buffer_out: host_upchan_U32_voltage_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_upchan_U32_voltage_ringbuffer_in
          gpu_mem_input: upchan_U32_voltage_buffer
          output_size: num_dishes * num_polarizations * (upchan_U32_max_num_channels * 32) * (num_times / 32)
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_upchan_U32_voltage_buffer_out

#TODO run_recv_upchan_U64_voltage:
#TODO     gpu_0:
#TODO         kotekan_stage: cudaProcess
#TODO         gpu_id: 0
#TODO         in_buffers:
#TODO             host_upchan_U64_voltage_ringbuffer_in: host_upchan_U64_voltage_ringbuffer
#TODO         out_buffers:
#TODO             host_upchan_U64_voltage_buffer_out: host_upchan_U64_voltage_buffer
#TODO         commands:
#TODO         - name: cudaCopyFromRingbuffer
#TODO           host_signal: host_upchan_U64_voltage_ringbuffer_in
#TODO           gpu_mem_input: upchan_U64_voltage_buffer
#TODO           output_size: num_dishes * num_polarizations * (upchan_U64_max_num_channels * 64) * (num_times / 64)
#TODO           ring_buffer_size: buffer_depth * output_size
#TODO           out_buf: host_upchan_U64_voltage_buffer_out

run_recv_frb1_beams:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_frb1_beams_ringbuffer_in: host_frb1_beams_ringbuffer
        out_buffers:
            host_frb1_beams_buffer_out: host_frb1_beams_buffer
        commands:
        - name: cudaCopyFromRingbuffer
          host_signal: host_frb1_beams_ringbuffer_in
          gpu_mem_input: frb1_beams_buffer
          output_size: sizeof_float16 * frb_num_beams_P * frb_num_beams_Q * upchan_all_max_num_output_channels * frb_num_output_times
          ring_buffer_size: buffer_depth * output_size
          out_buf: host_frb1_beams_buffer_out

# Output

write_data:
    # base_dir:
    write_dish_positions:
        kotekan_stage: asdfFileWrite
        in_buf: host_dish_positions_buffer
        file_name: dish_positions
    write_voltage:
        kotekan_stage: asdfFileWrite
        in_buf: host_voltage_buffer
        file_name: voltage
    write_n2k_correlation:
        kotekan_stage: asdfFileWrite
        in_buf: host_n2k_correlation_buffer
        file_name: n2k_correlation
    write_bb_beam_positions:
        kotekan_stage: asdfFileWrite
        in_buf: host_bb_beam_positions_buffer
        file_name: bb_beam_positions
    write_bb_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_bb_phase_buffer
        file_name: bb_phase
    write_bb_shift:
        kotekan_stage: asdfFileWrite
        in_buf: host_bb_shift_buffer
        file_name: bb_shift
    write_expected_bb_beams:
        kotekan_stage: asdfFileWrite
        in_buf: host_expected_bb_beams_buffer
        file_name: expected_bb_beams
    write_bb_beams:
        kotekan_stage: asdfFileWrite
        in_buf: host_bb_beams_buffer
        file_name: bb_beams
    write_upchan_U2_gain:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U2_gain_buffer
        file_name: upchan_U2_gain
    write_upchan_U4_gain:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U4_gain_buffer
        file_name: upchan_U4_gain
    write_upchan_U8_gain:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U8_gain_buffer
        file_name: upchan_U8_gain
    write_upchan_U16_gain:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U16_gain_buffer
        file_name: upchan_U16_gain
    write_upchan_U32_gain:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U32_gain_buffer
        file_name: upchan_U32_gain
    write_upchan_U64_gain:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U64_gain_buffer
        file_name: upchan_U64_gain
    #TODO write_upchan_U2_voltage:
    #TODO     kotekan_stage: asdfFileWrite
    #TODO     in_buf: host_upchan_U2_voltage_buffer
    #TODO     file_name: upchan_U2_voltage
    #TODO write_upchan_U4_voltage:
    #TODO     kotekan_stage: asdfFileWrite
    #TODO     in_buf: host_upchan_U4_voltage_buffer
    #TODO     file_name: upchan_U4_voltage
    write_upchan_U8_voltage:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U8_voltage_buffer
        file_name: upchan_U8_voltage
    write_upchan_U16_voltage:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U16_voltage_buffer
        file_name: upchan_U16_voltage
    write_upchan_U32_voltage:
        kotekan_stage: asdfFileWrite
        in_buf: host_upchan_U32_voltage_buffer
        file_name: upchan_U32_voltage
    #TODO write_upchan_U64_voltage:
    #TODO     kotekan_stage: asdfFileWrite
    #TODO     in_buf: host_upchan_U64_voltage_buffer
    #TODO     file_name: upchan_U64_voltage
    write_frb1_U1_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U1_phase_buffer
        file_name: frb1_U1_phase
    write_frb1_U2_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U2_phase_buffer
        file_name: frb1_U2_phase
    write_frb1_U4_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U4_phase_buffer
        file_name: frb1_U4_phase
    write_frb1_U8_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U8_phase_buffer
        file_name: frb1_U8_phase
    write_frb1_U16_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U16_phase_buffer
        file_name: frb1_U16_phase
    write_frb1_U32_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U32_phase_buffer
        file_name: frb1_U32_phase
    write_frb1_U64_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_U64_phase_buffer
        file_name: frb1_U64_phase
    write_frb2_phase:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb2_phase_buffer
        file_name: frb2_phase
    # write_expected_frb1_beams:
    #     kotekan_stage: asdfFileWrite
    #     in_buf: host_expected_frb1_beams_buffer
    #     file_name: expected_frb1_beams
    write_frb1_beams:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb1_beams_buffer
        file_name: frb1_beams
    write_frb2_beams:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb2_beams_buffer
        file_name: frb2_beams
    write_frb3_beams:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb3_beams_buffer
        file_name: frb3_beams
    write_frb3_beams_meanstd:
        kotekan_stage: asdfFileWrite
        in_buf: host_frb3_beams_meanstd_buffer
        file_name: frb3_beams_meanstd
        max_frames: 1
