# -*-yaml-*-

# CHORD pathfinder simulated sources

################################################################################

# F-Engine simulator: Sky

noise_amplitude: 1.0/3.0        # 2.3/7.5

# frequency = channel * adc_frequency / num_samples_per_frame
# frequency = channel * 0.1953125 MHz
source_channels: []
source_amplitudes: []

# A sample FRB:
# time in seconds, frequency in Hertz

# dispersed_source_start_time: 0.010
# dispersed_source_end_time: 0.070
# dispersed_source_start_frequency: 1500.0e+6
# dispersed_source_stop_frequency: 300.0e+6
# dispersed_source_linewidth: 1.0e+3
# dispersed_source_amplitude: 1.0

frb_source_start_time: 0.0e-3         # 0 ms
frb_source_stop_time: 40.0e-3         # 40 ms
frb_source_start_frequency: 1500.0e+6 # 1500 MHz
frb_source_stop_frequency: 300.0e+6   # 300 MHz
frb_source_scale: 64                  # maximum upchannelizion factor
frb_source_time_envelope_centre: 20.0e-3           # 20 ms
frb_source_time_envelope_width: 2.0e-3             # 2 ms
frb_source_frequency_envelope_lo_centre: 250.0e+6  # 250 MHz
frb_source_frequency_envelope_lo_width: 50.0e+6    # 50 MHz
frb_source_frequency_envelope_hi_centre: 1550.0e+6 # 1550 MHz
frb_source_frequency_envelope_hi_width: 50.0e+6    # 50 MHz
frb_source_amplitude: 10000   #TODO 1

source_position_ew: 0.02                    # east-west
source_position_ns: 0.03                    # north-south
