# -*-yaml-*-

# CHORD simulated sources

################################################################################

# F-Engine simulator: Sky

noise_amplitude: 1.0/3.0        # 2.3/7.5

# frequency = channel * adc_frequency / num_samples_per_frame
# frequency = channel * 0.1953125 MHz
source_channels: [1536, 1792, 2304, 2944, 3712, 4736, 6016]
source_amplitudes: [1, 1, 1, 1, 1, 1, 1]

source_position_ew: 0.01        # east-west
source_position_ns: 0.02        # north-south
