# -*-yaml-*-

# CHIME simulated sources

################################################################################

# F-Engine simulator: Sky

noise_amplitude: 1.0/3.0        # 2.3/7.5

# frequency = channel * adc_frequency / num_samples_per_frame
# frequency = channel * 0.390625 MHz
source_channels: [1024, 1280, 1536, 1792]
source_amplitudes: [1, 1, 1, 1]

source_position_ew: 0.00        # east-west
source_position_ns: 0.03        # north-south
