# -*-yaml-*-

# CHORD smallfinder simulated sources

################################################################################

# F-Engine simulator: Sky

noise_amplitude: 1.0/3.0        # 2.3/7.5

# frequency = channel * adc_frequency / num_samples_per_frame
# frequency = channel * 0.1953125 MHz
source_channels: [
    # U=64
    1536,
    
    # U=32
    1792,

    # U=16
    2304,

    # U=8
    2944,

    # U=4
    3712,

    # U=2
    4736,

    # U=1
    6016,
]

source_amplitudes: [
    # U=64
    1.0,
    
    # U=32
    1.0,

    # U=16
    1.0,

    # U=8
    1.0,

    # U=4
    1.0,

    # U=2
    1.0,

    # U=1
    1.0,
]

source_position_ew: 0.020 / 2   # east-west
source_position_ns: 0.015 / 2   # north-south
