# -*-yaml-*-

# CHARTS upchannelizer setup

################################################################################

# Upchannelizer setup

# TODO: Remove this
upchannelization_factor: 32

upchan_factors: [32]
# ranges are [min, max)
upchan_channel_ranges:
    32: [0, 8191]

# The GPU-local (not global) channel index range for each upchannelization factor

# actual = 0, scaled = 0
upchan_U128_max_num_channels: 0
upchan_U128_min_channel: 0
upchan_U128_max_channel: 0
upchan_U128_min_output_channel: upchan_all_min_output_channel
upchan_U128_max_output_channel: upchan_U128_min_output_channel + (upchan_U128_max_channel - upchan_U128_min_channel) * 128

# actual = 0, scaled = 0
upchan_U64_max_num_channels: 0
upchan_U64_min_channel: 0
upchan_U64_max_channel: 0
upchan_U64_min_output_channel: upchan_U128_min_output_channel
upchan_U64_max_output_channel: upchan_U64_min_output_channel + (upchan_U64_max_channel - upchan_U64_min_channel) * 64

# actual = 336, scaled = 10752
upchan_U32_max_num_channels: 336
upchan_U32_min_channel: 0
upchan_U32_max_channel: 336
upchan_U32_min_output_channel: upchan_U64_max_output_channel
upchan_U32_max_output_channel: upchan_U32_min_output_channel + (upchan_U32_max_channel - upchan_U32_min_channel) * 32

# actual = 0, scaled = 0
upchan_U16_max_num_channels: 0
upchan_U16_min_channel: 336
upchan_U16_max_channel: 336
upchan_U16_min_output_channel: upchan_U32_max_output_channel
upchan_U16_max_output_channel: upchan_U16_min_output_channel + (upchan_U16_max_channel - upchan_U16_min_channel) * 16

# actual = 0, scaled = 0
upchan_U8_max_num_channels: 0
upchan_U8_min_channel: 336
upchan_U8_max_channel: 336
upchan_U8_min_output_channel: upchan_U16_max_output_channel
upchan_U8_max_output_channel: upchan_U8_min_output_channel + (upchan_U8_max_channel - upchan_U8_min_channel) * 8

# actual = 0, scaled = 0
upchan_U4_max_num_channels: 0
upchan_U4_min_channel: 336
upchan_U4_max_channel: 336
upchan_U4_min_output_channel: upchan_U8_max_output_channel
upchan_U4_max_output_channel: upchan_U4_min_output_channel + (upchan_U4_max_channel - upchan_U4_min_channel) * 4

# actual = 0, scaled = 0
upchan_U2_max_num_channels: 0
upchan_U2_min_channel: 336
upchan_U2_max_channel: 336
upchan_U2_min_output_channel: upchan_U4_max_output_channel
upchan_U2_max_output_channel: upchan_U2_min_output_channel + (upchan_U2_max_channel - upchan_U2_min_channel) * 2

# actual = 0, scaled = 0
upchan_U1_max_num_channels: 0
upchan_U1_min_channel: 336
upchan_U1_max_channel: 336
upchan_U1_min_output_channel: upchan_U2_min_output_channel
upchan_U1_max_output_channel: upchan_U1_min_output_channel + (upchan_U1_max_channel - upchan_U1_min_channel) * 1

upchan_all_max_num_output_channels: 10752
upchan_all_min_output_channel: 0
upchan_all_max_output_channel: upchan_U1_max_output_channel

################################################################################

# Buffers

# Gains

host_upchan_U32_gain_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: float16
    extents: [upchan_U32_max_num_channels * 32]
    metadata_pool: main_pool

# Packet loss masks

host_upchan_U32_expanded_pl_mask_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: (64 / 8) * (num_dishes / 8) * num_polarizations * upchan_U32_max_num_channels * (num_times / 64 / 32)
    metadata_pool: main_pool
host_upchan_U32_expanded_pl_mask_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * (64 / 8) * (num_dishes / 8) * num_polarizations * upchan_U32_max_num_channels * (num_times / 64 / 32)
    metadata_pool: main_pool

# Voltages

host_upchan_U32_voltage_buffer:
    kotekan_buffer: standard
    num_frames: buffer_depth
    frame_size: num_dishes * num_polarizations * (upchan_U32_max_num_channels * 32) * (num_times / 32)
    metadata_pool: main_pool
host_upchan_U32_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_dishes * num_polarizations * (upchan_U32_max_num_channels * 32) * (num_times / 32)
    metadata_pool: main_pool

################################################################################

# Stages

run_set_upchan_U32_gain:
    kotekan_stage: setUpchanGain
    upchan_factor: 32
    upchan_max_num_channels: upchan_U32_max_num_channels
    upchan_gain: [
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
    ]
    upchan_gain_buffer: host_upchan_U32_gain_buffer

run_upchan_pl_U32:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_pl_expanded_mask_ringbuffer: host_pl_expanded_mask_ringbuffer
        out_buffers:
            host_upchan_U32_expanded_pl_mask_ringbuffer: host_upchan_U32_expanded_pl_mask_ringbuffer
        commands:
        - name: cudaPLMaskUpchannelizer
          expanded_pl_mask_name: pl_expanded_mask
          upchannelized_expanded_pl_mask_name: upchan_U32_expanded_pl_mask
          upchannelization_factor: 32
          num_frequencies_out: upchan_U32_max_num_channels
          Fmin: upchan_U32_min_channel
          Fmax: upchan_U32_max_channel

run_upchan_U32:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_upchan_U32_gain_buffer: host_upchan_U32_gain_buffer
        out_buffers:
            host_upchan_U32_voltage_ringbuffer: host_upchan_U32_voltage_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_upchan_U32_gain_buffer
          gpu_mem: upchan_U32_gain_buffer
        - name: cudaSyncInput
        - name: cudaUpchannelizer_charts_U32
          voltage_name: voltage
          upchan_U32_gain_name: upchan_U32_gain
          upchan_U32_voltage_name: upchan_U32_voltage
          Fmin: upchan_U32_min_channel
          Fmax: upchan_U32_max_channel
