# -*-yaml-*-

# HIRAX upchannelizer setup

################################################################################

# Upchannelizer setup

# TODO: Remove this
upchannelization_factor: 16

# This mapping was suggested by Seth Siegel.
upchannelization_factor_mapping:
    # - 0: 32
    # - 557.05: 16
    # - 739.42: 8
    # - 800.00: 4
    # - 800.00: 2
    # - 800.00: 1
    -    0: 32                  # Fmin = 0
    - 1426: 16                  # Fmin = 26
    - 1893:  8                  # Fmin = 55
    - 2048:  4                  # Fmin = 64
    - 2048:  2                  # Fmin = 64
    - 2048:  1                  # Fmin = 64



upchan_factors: [8, 16, 32]
# ranges are [min, max)
upchan_channel_ranges:
    32: [0, 1426]
    16: [1426, 1893]
    8: [1893, 2048]

# The GPU-local (not global) channel index range for each upchannelization factor

# actual = 0, scaled = 0
upchan_U64_max_num_channels: 0
upchan_U64_min_channel: 0
upchan_U64_max_channel: 0
upchan_U64_min_output_channel: upchan_all_min_output_channel
upchan_U64_max_output_channel: upchan_U64_min_output_channel + (upchan_U64_max_channel - upchan_U64_min_channel) * 64

# actual = 26, scaled = 832
upchan_U32_max_num_channels: 32
upchan_U32_min_channel: 0
upchan_U32_max_channel: 26
upchan_U32_min_output_channel: upchan_U64_min_output_channel
upchan_U32_max_output_channel: upchan_U32_min_output_channel + (upchan_U32_max_channel - upchan_U32_min_channel) * 32

# actual = 19, scaled = 304
upchan_U16_max_num_channels: 32
upchan_U16_min_channel: 26
upchan_U16_max_channel: 55
upchan_U16_min_output_channel: upchan_U32_max_output_channel
upchan_U16_max_output_channel: upchan_U16_min_output_channel + (upchan_U16_max_channel - upchan_U16_min_channel) * 16

# actual = 9, scaled = 72
upchan_U8_max_num_channels: 16
upchan_U8_min_channel: 55
upchan_U8_max_channel: 64
upchan_U8_min_output_channel: upchan_U16_max_output_channel
upchan_U8_max_output_channel: upchan_U8_min_output_channel + (upchan_U8_max_channel - upchan_U8_min_channel) * 8

# actual = 0, scaled = 0
upchan_U4_max_num_channels: 0
upchan_U4_min_channel: 64
upchan_U4_max_channel: 64
upchan_U4_min_output_channel: upchan_U8_max_output_channel
upchan_U4_max_output_channel: upchan_U4_min_output_channel + (upchan_U4_max_channel - upchan_U4_min_channel) * 4

# actual = 0, scaled = 0
upchan_U2_max_num_channels: 0
upchan_U2_min_channel: 64
upchan_U2_max_channel: 64
upchan_U2_min_output_channel: upchan_U4_max_output_channel
upchan_U2_max_output_channel: upchan_U2_min_output_channel + (upchan_U2_max_channel - upchan_U2_min_channel) * 2

# actual = 0, scaled = 0
upchan_U1_max_num_channels: 0
upchan_U1_min_channel: 64
upchan_U1_max_channel: 64
upchan_U1_min_output_channel: upchan_U2_max_output_channel
upchan_U1_max_output_channel: upchan_U1_min_output_channel + (upchan_U1_max_channel - upchan_U1_min_channel) * 1

upchan_all_max_num_output_channels: 2048
upchan_all_min_output_channel: 0
upchan_all_max_output_channel: upchan_U1_max_output_channel

################################################################################

# Buffers

# Gains

{% for U in [8, 16, 32] %}
host_upchan_U{{ U }}_gain_buffer:
    kotekan_buffer: ndarray
    num_frames: 1
    value_type: float16
    extents: [upchan_U{{ U }}_max_num_channels * {{ U }}]
    quantity_name: "G"
    dimnames: ["Fbar"]
    dimscalings: [1]
    metadata_pool: main_pool
{% endfor %}

# Voltages

{% for U in [8, 16, 32] %}
host_upchan_U{{ U }}_voltage_buffer:
    kotekan_buffer: ndarray
    num_frames: buffer_depth
    # frame_size: num_dishes * num_polarizations * (upchan_U{{ U }}_max_num_channels * {{ U }}) * (num_times / {{ U }})
    value_type: int4x2_swapped_withoffset
    extents: [num_times / {{ U }}, upchan_U{{ U }}_max_num_channels * {{ U }}, num_polarizations, num_dishes]
    quantity_name: "Ebar"
    dimnames: ["Tbar", "Fbar", "P", "D"]
    dimscalings: [{{ U }}, 1, 1, 1]
    metadata_pool: main_pool
host_upchan_U{{ U }}_voltage_ringbuffer:
    kotekan_buffer: ring
    ring_buffer_size: buffer_depth * num_dishes * num_polarizations * (upchan_U{{ U }}_max_num_channels * {{ U }}) * (num_times / {{ U }})
    metadata_pool: main_pool
{% endfor %}

################################################################################

# Stages

{% for U in [8, 16, 32] %}
run_set_upchan_U{{ U }}_gain:
    kotekan_stage: setUpchanGain
    upchan_factor: {{ U }}
    upchan_max_num_channels: upchan_U{{ U }}_max_num_channels
    upchan_gain: [{{ ([1] * U) | join(', ') }}]
    upchan_gain_buffer: host_upchan_U{{ U }}_gain_buffer
{% endfor %}

{% for U in [8, 16, 32] %}
run_upchan_U{{ U }}:
    gpu_0:
        kotekan_stage: cudaProcess
        gpu_id: 0
        in_buffers:
            host_voltage_ringbuffer: host_voltage_ringbuffer
            host_upchan_U{{ U }}_gain_buffer: host_upchan_U{{ U }}_gain_buffer
        out_buffers:
            host_upchan_U{{ U }}_voltage_ringbuffer: host_upchan_U{{ U }}_voltage_ringbuffer
        commands:
        - name: cudaInputData
          do_once: true
          in_buf: host_upchan_U{{ U }}_gain_buffer
          gpu_mem: upchan_U{{ U }}_gain_buffer
        - name: cudaSyncInput
        - name: cudaUpchannelizer_hirax_U{{ U }}
          voltage_name: voltage
          upchan_U{{ U }}_gain_name: upchan_U{{ U }}_gain
          upchan_U{{ U }}_voltage_name: upchan_U{{ U }}_voltage
          Fmin: upchan_U{{ U }}_min_channel
          Fmax: upchan_U{{ U }}_max_channel
{% endfor %}
