[Unit]
Description=kotekan
After=syslog.target network.target

[Service]
Type=simple
Environment="DISPLAY=:0"
WorkingDirectory=/var/lib/kotekan
ExecStart=/usr/sbin/kotekan -d /etc/kotekan/kotekan_config_%H
PIDFile=/var/run/kotekan.pid

[Install]
WantedBy=default.target
