[Unit]
Description=kotekan
After=syslog.target network.target

[Service]
Type=simple
Restart=always
Environment="HSA_ENABLE_SDMA=1"
WorkingDirectory=/var/lib/kotekan
TimeoutStopSec=60
KillSignal=SIGHUP
ExecStart=/usr/local/bin/kotekan
PIDFile=/var/run/kotekan.pid
UMask=002

[Install]
WantedBy=default.target
