[Unit]
Description=kotekan
After=syslog.target network.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/usr/sbin/kotekan -d /var/lib/kotekan -c /etc/kotekan/kotekan.conf -l 3
PIDFile=/var/run/kotekan.pid

[Install]
WantedBy=default.target
